.dropdown__input_rounded.dropdown__input_expanded {
  border-color: $colorTextLight;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown__input_not-rounded.dropdown__input_expanded {
  border-color: $colorTextLight;
  border-bottom: none;
}

.dropdown {
  user-select: none;
  position: relative;

  &_width_wide {
    max-width: 320px;
    width: 100%;
  }

  &_width_narrow {
    max-width: 266px;
    width: 100%;
  }

  &__label {
    display: block;
    width: 100%;

    &-text {
      @include font-h3;
      margin: 0;
    }
  }

  &__input {
    @include font-body;
    cursor: pointer;
    text-overflow: ellipsis;
    padding: 8px 90px 8px 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid $colorBorder;
    margin-top: 5px;
    width: 100%;
    display: block;

    &::placeholder {
      color: $colorBorder;
    }

    &:hover {
      border-color: $colorTextLight;
    }

    &:focus {
      border-color: $colorTextLight;
      outline: none;
    }

    &_rounded {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &-wrapper {
      &::after {
        @include tip-style;
        right: 17px;
        bottom: 18px;
      }

      &_expanded {
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__list {
    @include ul-reset-style;

    &-wrapper {
      background-color: $colorTextBackground;
      width: 100%;
      position: absolute;
      z-index: 3;
      border: 1px solid $colorTextLight;
      box-sizing: border-box;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      &_hidden {
        display: none;
      }
    }
  }

  &__category {
    @include font-h3;
    margin: 0;
    margin-left: 14px;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 4px 0;
      align-items: center;
    }
  }

  &__count {
    &-wrapper {
      box-sizing: border-box;
      margin-right: 5px;
      max-width: 94px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-increment,
    &-decrement {
      @include button-reset-style;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $colorTextBackground;
      border: 1px solid $colorTextLight;
      color: $colorTextLight;

      &[disabled] {
        cursor: initial;
        border: 1px solid $colorBorder;
        color: $colorBorder;
      }
    }

    &-value {
      @include font-h3;
    }
  }

  &__button {
    &_hidden {
      display: none;
    }

    &-apply {
      margin-left: auto;
      }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin: 20px 7px 13px 14px;
  }
}
