.colors-types {
  &__wrapper {
    flex-grow: 1;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 77px;
  }
  &__cards {
    padding-top: 68px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__colors-wrapper {
    padding-left: 150px;

    @include media-breakpoint-down($sm) {
      padding-left: 20px;
    }
  }
  &__types-wrapper {
    padding-right: 100px;

    @include media-breakpoint-down($sm) {
      padding-right: 20px;
    }
  }
}
