.colors-types {
  &__wrapper {
    flex-grow: 1;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__cards {
    padding-top: 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-breakpoint-down($lg) {
      display: block;
    }
  }

  &__colors-wrapper {
    padding-left: 150px;

    @include media-breakpoint-down($lg) {
      padding-left: 40px;
    }
  }
  &__types-wrapper {
    padding-right: 100px;

    @include media-breakpoint-down($lg) {
      padding-top: 50px;
      padding-left: 40px;
      padding-bottom: 40px;
    }

    @include media-breakpoint-down($sm) {
      padding-right: 10px;
    }
  }
}
