include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
doctype html
html(lang = 'ru')
  block head
    block title
      title Layout
  -
    const {headerLinks, footerLinks} = require('@pag/layout/layout.json')

  body(class = 'layout')
    +header({menu: headerLinks, isAuthorized: false})
    block content
      main
    block footer
      +footer({menu: footerLinks})




