.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header-wrapper {
	position: absolute;
	width: 100%;
	z-index: 1;

	@include media-breakpoint-down($xxs) {
		position: static;
		width: auto;
	}
}
