include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug

doctype html
html(lang = 'ru')
  block head
    block title
      title Layout
  body
    +header({authorized: false})
    block content
      main
    div(class = 'delim')
    +footer()




