include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/head/head.pug


-
  const {header, footer} = require('@pag/layout/layout.json')
doctype html
html(lang = 'ru')
  head
    +head()
    block title
      title Layout
  body(class = 'layout')
    +header(header)
    block content
      main
    +footer(footer)




