include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
html(lang = 'ru')
	head
		block title
			title Layout
	body
		div(class = 'page-wrapper')
			div(class = 'header-wrapper')
				+header({authorized: false})
			block content
			div(class = 'footer-wrapper')
				+footer()

