.pagination {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  &__pages {
    display: inline-flex;
    flex-direction: row;
  }

  &__element {
    @include font-body;
    text-decoration: none;
    font-size: 12px;
    color: $color-text;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    &-page {
      cursor: pointer;
    }

    &-first-last-page {
      @include font-h3;
      background: $gradient-main;
      color: $color-text-background;
      cursor: pointer;
    }

    &-next-previous {
      background: $gradient-secondary;
      cursor: pointer;

      &::before {
        @include arrow-basis-style($color-text-background);
        align-self: center;
      }

      &::after {
        @include arrow-tip-style($color-text-background);
        align-self: center;
      }
    }
  }

  &__label {
    @include font-body;
    margin: 0;
    padding-top: 8px;
    color: $color-text-normal;
  }
}
