extends ../layout/layout.pug

include ../../components/search-room/search-room.pug

block title
  title Landing
block content 
  main(class = 'landing-page')
    div(class = 'landing-page__wrapper')
      section(class = 'landing-page__search-room-wrapper')
        +search-room()
      span(class = 'landing-page__text') Лучшие номера для вашей работы, отдыха и просто вдохновения Разочарован Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Разочарован Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
