extends ../layout/layout.pug
include ../../components/search-room/search-room.pug
block title
  title Landing
block content 
  main(class = 'landing-page')
    img(class = 'landing-page__background'  alt = 'фоновое изображение - гостиная' src = require('@pag/landing-page/img/living-room.jpg').default)
    section(class = 'landing-page__search-room-wrapper')
      +search-room()
    p(class = 'landing-page__text') Лучшие номера для вашей работы, отдыха и просто вдохновения
