.landing {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	padding-top: 5%;
	padding-left: 9.3%;
	padding-bottom: 26%;

	@include media-breakpoint-down($xl) {
		padding-bottom: 5%;
	}

	&__background {
		height: auto;
		width: 100%;
		position: absolute;
		top: 4px;
		z-index: -1;
		&-wrapper {
			box-sizing: border-box;
			@include media-breakpoint-down($md) {
				position: absolute;
				top: 80px;
				height: 610px;
				width: 100%;
				overflow: hidden;
				z-index: -1;
			}
		}
		@include media-breakpoint-down($md) {
			height: 100%;
			width: auto;
		}
		@include media-breakpoint-down($xs) {
		}
	}
}
