$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
@mixin fontBody() {
	font-family: "Montserrat-Regular";
	font-size: 14px;
	line-height: 24px;
	color: $colorDarkShade75;
}

h1 {
	font-family: "Montserrat-Bold";
	font-style: normal;
	font-size: 24px;
	line-height: 29px;
	color: $colorDarkShade100;
}

h2 {
	font-family: "Montserrat-Bold";
	font-size: 19px;
	line-height: 23px;
	color: $colorDarkShade100;
}

h3 {
	font-family: "Montserrat-Bold";
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

p {
	@include fontBody;
}

.colorsTypes__wrapper {
	max-width: 1440px;
	margin: 0 auto;
	background-color: gray;
	display: flex;
	justify-content: space-between;
	padding-top: 145px;
	padding-left: 150px;
	padding-right: 150px;
}

.colorCard {
	margin-bottom: 20px;
	font-size: 19px;
	line-height: 28px;
	color: $colorDarkShade100;

	display: grid;
	grid-template-rows: repeat(2, 35px);
	grid-template-columns: 70px 180px;
	grid-template-areas:
		"post-1 post-2"
		"post-1 post-3";
	column-gap: 40px;

	&__color {
		grid-area: post-1;
		border-radius: 6px;
		&-colorDarkShade100 {
			background-color: $colorDarkShade100;
		}
		&-colorDarkShade75 {
			background-color: $colorDarkShade75;
		}
		&-colorDarkShade50 {
			background-color: $colorDarkShade50;
		}
		&-colorDarkShade25 {
			background-color: $colorDarkShade25;
		}
		&-colorDarkShade5 {
			background-color: $colorDarkShade5;
		}
		&-colorPurple {
			background-color: $colorPurple;
		}
		&-colorGreen {
			background-color: $colorGreen;
		}
	}
	&__name {
		padding-top: 8px;
		grid-area: post-2;
		font-family: "Montserrat-Bold";
	}
	&__code {
		grid-area: post-3;
		font-family: "Montserrat-Regular";
	}
}

.typeCard {
	display: flex;
	margin-bottom: 40px;
	&__name {
		display: flex;
		justify-content: flex-end;
		width: 40px;
		font-family: "Montserrat-Regular";
		color: $colorDarkShade25;
	}
	&__text {
		padding-left: 20px;
	}
}
