.colorsTypes__wrapper {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 145px;
}

.colors__wrapper {
	padding-left: 150px;
}
.types__wrapper {
	padding-right: 100px;
}

.colorCard {
	margin-bottom: 20px;
	font-size: 19px;
	line-height: 28px;
	color: $colorDarkShade100;

	display: grid;
	grid-template-rows: repeat(2, 35px);
	grid-template-columns: 70px 180px;
	grid-template-areas:
		"post-1 post-2"
		"post-1 post-3";
	column-gap: 40px;

	&__color {
		grid-area: post-1;
		border-radius: 6px;
		&-colorDarkShade100 {
			background-color: $colorDarkShade100;
		}
		&-colorDarkShade75 {
			background-color: $colorDarkShade75;
		}
		&-colorDarkShade50 {
			background-color: $colorDarkShade50;
		}
		&-colorDarkShade25 {
			background-color: $colorDarkShade25;
		}
		&-colorDarkShade5 {
			background-color: $colorDarkShade5;
		}
		&-colorPurple {
			background-color: $colorPurple;
		}
		&-colorGreen {
			background-color: $colorGreen;
		}
	}
	&__name {
		width: 171px;
		padding-top: 8px;
		grid-area: post-2;
		font-family: "Montserrat-Bold";
	}
	&__code {
		grid-area: post-3;
		font-family: "Montserrat-Regular";
	}
}

.typeCard {
	display: grid;
	grid-template-rows: 60px;
	grid-template-columns: 40px 457px;
	grid-template-areas: "post-1 post-2";
	&__name {
		text-align: right;
		grid-area: post-1;
		font-family: "Montserrat-Regular";
		color: $colorDarkShade25;
	}
	&__text {
		padding-left: 30px;
		grid-area: post-2;
	}
}
.types {
	&__wrapper {
		padding-top: 1px;
	}
	&-h1 {
		margin-bottom: 49px;
	}
	&-h2 {
		margin-bottom: 39px;
		& .typeCard .typeCard__text {
			padding-right: 35px;
		}
	}
	&-body {
		& .typeCard .typeCard__text {
			padding-right: 110px;
		}
	}
}
