@mixin font-body() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	line-height: 12.19px;
	color: $colorDarkShade25;
}

@mixin font-h3() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;

.rating {
	margin: 0;
	padding: 0;
	border: none;
}

.rating__caption {
	margin-bottom: 0.5em;
	padding: 0;
}

.rating__group {
	position: relative;
	width: 10em;
	height: 2em;
}

.rating__group:focus-within {
	//	outline: solid 0.2em grey;
}

.rating__star {
	outline: khaki;
	appearance: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-size: inherit;
	height: 2em;
	background-repeat: repeat-x;
	background-image: url(/assets/img/interface/star-border.svg);
	background-size: 2em auto;
}

.rating__star:focus {
	outline: none;
}

.rating__star:checked,
.rating__star:hover {
	background-image: url(/assets/img/interface/star.svg);
}

.rating__star:hover ~ .rating__star {
	background-image: url(/assets/img/interface/star-border.svg);
}

.rating__star:nth-of-type(1) {
	width: 2em;
	z-index: 5;
}
.rating__star:nth-of-type(2) {
	width: 4em;
	z-index: 4;
}

.rating__star:nth-of-type(3) {
	width: 6em;
	z-index: 3;
}

.rating__star:nth-of-type(4) {
	width: 8em;
	z-index: 2;
}

.rating__star:nth-of-type(5) {
	width: 10em;
	z-index: 1;
}
