mixin rate-button2(options={})
	fieldset(class = 'rating')
		legend(class = 'rating__caption') Rate Button
		div(class = 'rating__group')
			input(class = 'rating__star' type = "radio" name = 'health' value = '1' aria-label = "Ужасно" checked)
			input(class = 'rating__star' type = "radio" name = 'health' value = '2' aria-label = "Сносно")
			input(class = 'rating__star' type = "radio" name = 'health' value = '3' aria-label = "Нормально")
			input(class = 'rating__star' type = "radio" name = 'health' value = '4' aria-label = "Хорошо")
			input(class = 'rating__star' type = "radio" name = 'health' value = '5' aria-label = "Отлично")
