.search-room-page {
  flex-grow: 1;
  display: flex;
  margin: 0 auto;
  padding-top: 31px;
  max-width: calc($wrapperWidth - 10px);
  width: 100%;
  justify-content: space-between;

  @include media-breakpoint-between($lg, $xl) {
    padding: 31px 5px 0;
  }

  @include media-breakpoint-down($lg) {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media-breakpoint-down($sm) {
    padding-left: 0;
    padding-right: 0;
  }

  &__filter-form-wrapper {
    margin-bottom: 20px;

    @include media-breakpoint-down($xs) {
      margin: auto;
    }
  }

  &__title {
    @include font-h1;
    display: flex;
    margin: 0 0 20px;
    text-align: center;
    text-align: start;

    @include media-breakpoint-down($md) {
      display: block;
      font-size: 1.25rem;
    }

    @include media-breakpoint-down($sm) {
      font-size: 1rem;
    }

    @include media-breakpoint-down($xs) {
      margin-left: 10px;
    }
  }

  &__search-results {
    max-width: $md;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 20px;

    @include media-breakpoint-down($lg) {
      max-width: 100%;
    }

    @include media-breakpoint-down($md) {
      max-width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down($xs) {
      grid-template-columns: repeat(1, 1fr);
    }

    &-wrapper {
      flex-grow: 1;
      padding-left: 59px;

      @include media-breakpoint-down($lg) {
        padding: 0;
      }

      @include media-breakpoint-down($xs) {
        padding: 32px 0 0 0;
      }
    }
  }

  &__room-card {
    border-radius: 4px;
  }

  &__pagination-wrapper {
    margin-top: 42px;
    margin-bottom: 70px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__go-up-button-wrapper {
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 10;

    @include media-breakpoint-up($xs) {
      display: none;
    }
  }

  &__delimiter {
    height: 2px;
    border-top: 1px solid $colorBorder;
  }
}
