.search-room-page {
	//border: 1px solid blue;
	box-sizing: border-box;
	display: flex;
	margin: 0 auto;
	padding-top: 31px;
	padding-left: 40px;
	padding-right: 40px;

	@include media-breakpoint-between($lg, $xl) {
		padding-left: 0;
		padding-right: 0;
	}

	@include media-breakpoint-down($lg) {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
	}

	@include media-breakpoint-down($sm) {
		padding-left: 0;
		padding-right: 0;
	}

	&__filter-form-wrapper {
		//border: 1px solid green;
		@include media-breakpoint-down($sm) {
		}
	}

	&__title {
		@include font-h1;
		margin-bottom: 20px;
		text-align: center;
		@include media-breakpoint-down($md) {
			font-size: 1.25rem;
		}

		@include media-breakpoint-down($sm) {
			font-size: 1rem;
		}
	}
	&__search-results-wrapper {
		//	border: 1px solid orange;
		max-width: 100%;
		box-sizing: border-box;
		padding-left: 59px;

		@include media-breakpoint-down($lg) {
			padding: 0;
		}

		@include media-breakpoint-down($xs) {
			padding: 32px 0 0 0;
		}
	}
	&__search-results {
		//	border: 1px solid red;
		max-width: 835px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 9px;
		grid-auto-rows: 268px;

		@include media-breakpoint-down($md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-breakpoint-down($xs) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	&__room-card {
		margin-bottom: 19px;
	}
	&__pagination-wrapper {
		margin-top: 32px;
		margin-bottom: 74px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__go-up-button-wrapper {
		position: fixed;
		right: 20px;
		bottom: 50px;
		z-index: 10;
		@include media-breakpoint-up($xs) {
			display: none;
		}
	}
}
