input {
	outline: none;
}

.input {
	@include fontBody;
	height: 44px;
	text-indent: 12px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid $colorDarkShade25;

	&:hover {
		border-color: $colorDarkShade50;
	}
	&-focused {
		border-color: $colorDarkShade50;
	}
	&-wide {
		width: 320px;
	}
	&-narrow {
		width: 150px;
	}
}
