mixin rate-button(options={})
	-
		let elemName='simple-rating'
	div(class = elemName)
		div(class = elemName+'__items')
			input(class =elemName+'__item', type = "radio", name = 'simple-rating' value="5" id = 'simple-rating__5')
			label(for='simple-rating__5', class =elemName+'__label')
			input(class =elemName+'__item', type = "radio", name = 'simple-rating' value="4" id = 'simple-rating__4')
			label(for='simple-rating__4', class =elemName+'__label')
			input(class =elemName+'__item', type = "radio", name = 'simple-rating' value="3" id = 'simple-rating__3')
			label(for='simple-rating__3', class =elemName+'__label')
			input(class =elemName+'__item', type = "radio", name = 'simple-rating' value="2" id = 'simple-rating__2')
			label(for='simple-rating__2', class =elemName+'__label')
			input(class =elemName+'__item', type = "radio", name = 'simple-rating' value="1" id = 'simple-rating__1')
			label(for='simple-rating__1', class =elemName+'__label')