mixin rate-button(options={})
  -
    let elemName = 'rate-button'
  fieldset(class = elemName)
    legend(class = elemName+'__caption')= options.labelText
    div(class = elemName+'__group')
      input(class = elemName+'__star' type = "radio" name = options.name value = '1' aria-label = "Очень плохо")
      input(class = elemName+'__star' type = "radio" name = options.name value = '2' aria-label = "Плохо")
      input(class = elemName+'__star' type = "radio" name = options.name value = '3' aria-label = "Удовлетворительно")
      input(class = elemName+'__star' type = "radio" name = options.name value = '4' aria-label = "Хорошо" checked)
      input(class = elemName+'__star' type = "radio" name = options.name value = '5' aria-label = "Отлично")