@mixin font-body() {
	font-family: "Montserrat-Regular";
	font-size: 10px;
	line-height: 12.19px;
	color: $colorDarkShade25;
}

@mixin font-h3() {
	font-family: "Montserrat-Bold";
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;

.rate-button {
	&__label-text {
		@include font-h3;
		margin-bottom: 18px;
	}

	&__stars-wrapper {
		position: relative;
		font-size: 20px;
		letter-spacing: 7.5px;
		display: inline-block;
		&::before {
			content: "★★★★★";
			display: block;
			color: $colorWhite;
		}
	}

	&__items {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: row-reverse;
		overflow: hidden;
	}

	&__item {
		position: absolute;
		appearance: none;

		&:checked + .rate-button__label::before,
		&:checked ~ .rate-button__label::before {
			content: url(/assets/img/interface/star.svg);
		}
	}

	&__label {
		flex: 0 0 20%;
		height: 100%;
		cursor: pointer;
		color: $colorWhite;
		position: relative;

		&::before {
			content: url(/assets/img/interface/star-border.svg);
			position: absolute;
		}

		&:hover::before,
		&:hover ~ .rate-button__label::before {
			content: url(/assets/img/interface/star.svg);
		}
	}
}
