mixin rate-button(options={})
	-
		let elemName = 'rate-button'
	if options.labelText
		p(class = elemName + '__label-text')=options.labelText
		div(class = elemName + '__stars-wrapper')
			div(class = elemName + '__items')
				each val in [5,4,3,2,1]
					input(class = elemName+'__item' type = "radio" name = elemName value = val id = elemName + '__' + val)
					label(for = elemName + '__' + val class = elemName + '__label')
