@mixin font-body() {
	font-family: "Montserrat-Regular";
	font-size: 10px;
	line-height: 12.19px;
	color: $colorDarkShade25;
}

@mixin font-h3() {
	font-family: "Montserrat-Bold";
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;

.simple-rating {
	position: relative;
	font-size: 20px;
	letter-spacing: 8px;
	display: inline-block;
}

.simple-rating::before {
	content: "★★★★★";
	display: block;
	color: $colorWhite;
}

.simple-rating__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}

.simple-rating__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}

.simple-rating__label {
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: $colorWhite;
	position: relative;
}

.simple-rating__label::before {
	content: url(/assets/img/interface/star-border.svg);
	position: absolute;
}

.simple-rating__label:hover::before,
.simple-rating__label:hover ~ .simple-rating__label::before {
	content: url(/assets/img/interface/star.svg);
}

.simple-rating__item:checked + .simple-rating__label::before,
.simple-rating__item:checked ~ .simple-rating__label::before {
	content: url(/assets/img/interface/star.svg);
}

// .rate-button {
// 	user-select: none;
// 	&__items {
// 		display: flex;
// 		position: relative;
// 	}
// 	&__label {
// 		//	border: 1px solid red;

// 		&-text {
// 			margin-bottom: 16px;
// 		}
// 	}
// 	&__star {
// 		margin-top: -5px;
// 		height: 20px;
// 		width: 24px;
// 		//	border: 1px solid red;
// 		background-image: url(/assets/img/interface/star-border.svg);
// 		background-position: center;
// 		background-repeat: no-repeat;
// 	}

// 	&__item {
// 		position: absolute;
// 		//z-index: 10;
// 		opacity: 0;
// 		display: block;
// 		// width: 0;
// 		// height: 0;
// 		&:nth-of-type(1) {
// 			left: 6px;
// 		}
// 		&:nth-of-type(2) {
// 			left: 30px;
// 		}
// 		&:nth-of-type(3) {
// 			left: 54px;
// 		}
// 		&:nth-of-type(4) {
// 			left: 78px;
// 		}
// 		&:nth-of-type(5) {
// 			left: 102px;
// 		}
// 		&:checked ~ .rate-button__star {
// 			background-image: url(/assets/img/interface/star.svg);
// 		}

// 		&:hover ~ .rate-button__star {
// 			background-image: url(/assets/img/interface/star.svg);
// 		}
// 	}

// &__button {
// 	background: none;
// 	border: 1px solid $colorDarkShade25;
// 	width: 40px;
// 	height: 20px;
// 	border-radius: 22px;
// 	cursor: pointer;
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-around;
// }

// &__counter {
// 	@include font-body;
// }

// &_liked {
// 	border: 1px solid $colorPurple;
// 	& > .like-button__counter {
// 		color: $colorPurple;
// 	}
// }
//}
