mixin type-card(options = {})
  -
    function getValidValue (list, value, defaultValue) {
      return value = list.includes(value) ? value : defaultValue
    }

    let {style = ''} = options
    const { name = '', text = ''} = options

    const elementName = 'type-card'

    const validStyles = ['h1', 'h2', 'h3', 'body']
    style = getValidValue(validStyles, style, 'h1')

  span(class = elementName)
    span(class=`${elementName}__name ${elementName}__name_${style}`)= name
    span(class=`${elementName}__text ${elementName}__text_${style}`)= text