$cardStyle: (1 49, 2 39, 3 2);

.type-card {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 40px 457px;
  grid-template-areas: 'post-1 post-2';

  @include media-breakpoint-down($sm) {
    grid-template-columns: 40px minmax(auto, 420px);
  }

  @each $index, $margin in $cardStyle {
    &:nth-child(#{$index}) {
      margin-bottom: #{$margin}px;
    }
  }

  &:nth-child(1) {
    margin-top: 1px;
  }

  &__name {
    text-align: right;
    grid-area: post-1;
    font-weight: normal;

    &_h {
      &1 {
        @include font-h1;
      }

      &2 {
        @include font-h2;
      }

      &3 {
        @include font-h3;
      }

      &1,
      &2,
      &3 {
        color: $color-border;
        font-weight: normal;
      }
    }

    &_body {
      @include font-body;
      color: $color-border;
    }
  }

  &__text {
    padding-left: 30px;
    grid-area: post-2;

    &_h1 {
      @include font-h1;
    }

    &_h2 {
      @include font-h2;
      max-width: 345px;
    }

    &_h3 {
      @include font-h3;
    }

    &_body {
      @include font-body;
      color: $color-text-normal;
      max-width: 335px;
    }
  }
}
