mixin chart(options={})
  -
    let elemName = 'chart'
  div(class = elemName + ' js-' + elemName)
    canvas(class = elemName + '__image' +' js-' + elemName + '__image' height = '120' width = '120')
    ul(class = elemName + '__legend')
      li(class = elemName + '__legend-item' + ' js-' + elemName + '__legend-item' data-rate = '130' data-mark = 'excellent') Великолепно
      li(class = elemName + '__legend-item' + ' js-' + elemName + '__legend-item' data-rate = '65' data-mark = 'good') Хорошо
      li(class = elemName + '__legend-item' + ' js-' + elemName + '__legend-item' data-rate = '65' data-mark = 'satisfied') Удовлетворительно
      li(class = elemName + '__legend-item' + ' js-' + elemName + '__legend-item' data-rate = '0' data-mark = 'bad') Разочарован