.chart {
  display: flex;
  align-items: center;

  @include media-breakpoint-down($xs) {
    display: block;
  }

  &__legend {
    @include ul-reset-style;
    @include font-body;
    color: $colorTextNormal;
    margin-left: 30px;
    padding-top: 23px;

    @include media-breakpoint-down($xs) {
      margin-left: 0;
    }

    &-label {
      flex-shrink: 10;
    }

    &-item {
      display: flex;
      align-items: center;
      line-height: 18px;
      margin-top: 6px;

      &-mark {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
      }

      &-label {
        @include visually-hidden;
      }
    }
  }
}
