mixin chart(options={})
  -
    let elementName = 'chart'
  div(class = elementName + ' js-' + elementName)
    canvas(class = elementName + '__image' +' js-' + elementName + '__image' height = '120' width = '120')
    ul(class = elementName + '__legend')
      li(class = elementName + '__legend-item' + ' js-' + elementName + '__legend-item' data-rate = '130' data-mark = 'excellent') Великолепно
      li(class = elementName + '__legend-item' + ' js-' + elementName + '__legend-item' data-rate = '65' data-mark = 'good') Хорошо
      li(class = elementName + '__legend-item' + ' js-' + elementName + '__legend-item' data-rate = '65' data-mark = 'satisfied') Удовлетворительно
      li(class = elementName + '__legend-item' + ' js-' + elementName + '__legend-item' data-rate = '0' data-mark = 'bad') Разочарован