mixin date(options={})
	div(class="date__wrapper" id="date__wrapper")
		input(class="date__input date__input-from")
		input(class="date__input date__input-to")
		div(class="date__calendarWrapper")




