include ../input/input.pug
mixin date(options={})
	div(class="date__wrapper" id="date__wrapper")
		+input(' input-narrow input-masked date__input-from')
		+input(' input-narrow input-masked date__input-to')
		div(class="date__calendarWrapper")




