mixin date()
	div(class="date__calendarWrapper hidden")
			div(class="date__buttons")
				button(class="date__button date__button-clear") очистить
				button(class="date__button date__button-apply") применить




