.search-room {
  box-sizing: border-box;
  background-color: $colorWhite;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  height: 374px;
  padding: 30px;
  &__header {
    margin-top: 10px;
    @include font-h1;
  }
  &__date-dropdown {
    margin-top: 22px;
  }
  &__guests {
    margin-top: 20px;
  }
  &__search {
    margin-top: 31px;
  }
  &-error {
    outline: 1px solid $colorRed;
  }
}
