.button {
  @include font-h3;
  @include button-reset-style;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  width: 100%;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 22px;

  &_has-arrow {
    &::before {
      @include arrow-basis-style($colorTextBackground);
      align-self: center;
      right: 17px;
    }
    &::after {
      @include arrow-tip-style($colorTextBackground);
      align-self: center;
      right: 17px;
    }
  }

  &_length {
    &_very-long {
      max-width: 320px;
    }

    &_long {
      max-width: 196px;
    }

    &_short {
      max-width: 99px;
    }
    &_very-short {
      max-width: 87px;
    }
  }

  &_width {
    &_wide {
      padding: 15px 10px;
    }
  }

  &_plain-text {
    color: $colorMain;
    border: none;
    background: none;
    &:hover,
    &:focus {
      color: $colorTextLight;
    }
  }

  &_color {
    &_dark {
      background: $gradientMain;
      color: $colorTextBackground;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }

    &_light {
      background-color: $colorTextBackground;
      box-shadow: 
      inset 0px 2px 0px 0px $colorMain, 
      inset 0px 0px 0px 2px $colorGradientBorder;
      color: $colorMain;

      &:hover,
      &:focus {
        box-shadow: 
        inset 0px 2px 0px 0px $colorMainHover, 
        inset 0px 0px 0px 2px $colorGradientBorderHover;
      }
    }
  }
}
