$button-style-map: (long 196, short 99, very-short 87);

.button {
  @include font-h3;
  @include button-reset-style;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  user-select: none;
  border-radius: 22px;

  &_has-arrow {
    position: relative;
    align-items: center;
    padding-right: 35px;

    &::before {
      @include arrow-basis-style($color-text-background);
      align-self: center;
      right: 16px;
    }

    &::after {
      @include arrow-tip-style($color-text-background);
      align-self: center;
      right: 16px;
    }
  }

  &_length {
    @each $key, $value in $button-style-map {
      &_#{$key} {
        min-width: #{$value}px;
      }
    }
  }

  &_width {
    &_wide {
      padding: 15px 10px;
    }
  }

  &_plain-text {
    color: $color-main;
    border: none;
    background: none;
    padding: 0;
    &:hover,
    &:focus {
      color: $color-text-light;
    }
  }

  &_color {
    &_dark {
      background: $gradient-main;
      color: $color-text-background;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }

    &_light {
      background-color: $color-text-background;
      box-shadow: inset 0px 2px 0px 0px $color-main, inset 0px 0px 0px 2px $color-gradient-border;
      color: $color-main;

      &:hover,
      &:focus {
        box-shadow: inset 0px 2px 0px 0px $color-main-hover, inset 0px 0px 0px 2px $color-gradient-border-hover;
      }
    }
  }
}
