extends ../layout/layout.pug

include ../../components/feature/feature.pug
include ../../components/chart/chart.pug
include ../../components/booking/booking.pug
include ../../components/feedback/feedback.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/dropdown/dropdown.pug
include ../../components/button/button.pug

block title
  title Room details
block content 
  -
    const {
    features,
    feedbacks,
    bulletList
      } = require('@pag/room-details-page/room-details-page.json')

  main(class = "room-details-page js-room-details-page")
    h1(class = "room-details-page__header") подробная информация о номере
    section(class = "room-details-page__banner-wrapper")
      img(class = "room-details-page__image-1" alt = "фоновое изображение - спальня" src = require('@pub/images/room-details/room-details-1.jpg'))
      img(class = "room-details-page__image-2" alt = "фоновое изображение - спальня" src = require('@pub/images/room-details/room-details-2.jpg'))
      img(class = "room-details-page__image-3" alt = "фоновое изображение - спальня" src = require('@pub/images/room-details/room-details-3.jpg'))
    section(class = "room-details-page__main-info-wrapper")
      div(class = "room-details-page__room-info-wrapper")
        h2(class = "room-details-page__room-info-header") Сведения о номере
        div(class = "room-details-page__room-info")
          div(class = "room-details-page__room-info-item")
            +feature({
              name: features[0].name,
              description: features[0].description,
              alt: features[0].alt,
              image: features[0].image,
            })
          div(class = "room-details-page__room-info-item")
            +feature({
              name: features[1].name,
              description: features[1].description,
              alt: features[1].alt,
              image: features[1].image,
            })
          div(class = "room-details-page__room-info-item")
            +feature({
              name: features[2].name,
              description: features[2].description,
              alt: features[2].alt,
              image: features[2].image,
            })
      div(class = "room-details-page__room-impress-wrapper")
        h2(class = "room-details-page__room-impress-header") Впечатления от номера
        div(class = "room-details-page__room-impress js-room-details-page__chart")
          +chart({
            excellent: {
              rate: 130, 
              label: 'Великолепно',
            },
            good: {
              rate: 65, 
              label: 'Хорошо',
            },
            satisfied: {
              rate: 65, 
              label: 'Удовлетворительно',
            },
            bad: {
              rate: 0, 
              label: 'Разочарован',
            },
          })
      div(class = "room-details-page__booking-wrapper js-room-details-page__booking")
        +booking({
          roomNumber: 888,
          lux: 'люкс',
          roomPrice: 9990,
          daysAmount: 4,
          sale: 181.584,
          saleTotal: 0,
          extraTotal: 300,
        })
      div(class = "room-details-page__feedback-wrapper")
        div(class = "room-details-page__feedback-header")
          h2(class = "room-details-page__feedback-header-label") Отзывы посетителей номера
          span(class = "room-details-page__feedback-header-quantity") 2 отзыва
        div(class = "room-details-page__feedback")
          div(class = "room-details-page__feedback-item js-room-details-page__feedback")
            +feedback({
              imagePath: require('@pub/images/feedback/murad.jpg'),
              name: feedbacks[0].name,
              date: feedbacks[0].date,
              description: feedbacks[0].description,
              alt: feedbacks[0].alt,
              isLiked: feedbacks[0].isLiked, 
              likeAmount: feedbacks[0].likeAmount,
            })
          div(class = "room-details-page__feedback-item js-room-details-page__feedback")
            +feedback({
              imagePath: require('@pub/images/feedback/patricia.jpg'),
              name: feedbacks[1].name,
              date: feedbacks[1].date,
              description: feedbacks[1].description,
              alt: feedbacks[1].alt,
              isLiked: feedbacks[1].isLiked, 
              likeAmount: feedbacks[1].likeAmount,
            })
      div(class = "room-details-page__rules-wrapper")
        h2(class = "room-details-page__rules-header") Правила
        div(class = "room-details-page__rules")
          +bullet-list({ categories: bulletList.categories })
      div(class = "room-details-page__cancel-wrapper")
        h2(class = "room-details-page__cancel-header")  Отмена
        span(class = "room-details-page__cancel") Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги. 
