.room-details-page {
	&__banner-wrapper {
		max-width: $xxl;
		width: 100%;
		max-height: 485px;
		box-sizing: border-box;
		margin: 0 auto;
		display: grid;

		grid-template-rows: 2fr 2fr;
		grid-template-columns: 2.73fr 1.27fr;
		grid-template-areas:
			"img-1 img-2"
			"img-1 img-3";
	}

	&__img-1 {
		box-sizing: border-box;
		grid-area: img-1;
		height: 100%;
		width: 100%;
		min-width: 100%;
		object-fit: cover;
	}
	&__img-2 {
		box-sizing: border-box;
		grid-area: img-2;
		height: 100%;
		width: 100%;
		min-width: 100%;
		object-fit: cover;
	}
	&__img-3 {
		box-sizing: border-box;
		grid-area: img-3;
		height: 100%;
		width: 100%;
		min-width: 100%;
		object-fit: cover;
	}
}
