@mixin font-body() {
	font-family: "Montserrat-Regular";
	font-size: 14px;
	line-height: 19px;
	color: $colorDarkShade75;
}

@mixin font-h3() {
	font-family: "Montserrat-Bold";
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;

fieldset {
	border: none;
}
.checklist {
	//border: 1px solid blue;
	user-select: none;
	width: 266px;
	&__label {
		cursor: pointer;
		@include font-h3;
		position: relative;
	}
	&__img {
		position: absolute;
		right: 15px;
		top: 3px;
		&-expanded {
			transform: rotate(180deg);
			transition: all 0.9s ease 0s;
		}

		&_collapsed {
			transform: rotate(0deg);
			transition: all 0.9s ease 0s;
		}
	}

	&__list-wrapper {
		//	border: 1px solid green;
		margin-top: 17px;
		&_hidden {
			display: none;
		}
	}
	&__cat-wrapper {
		margin-bottom: 6px;
	}

	&__cat {
		//	border: 1px solid red;
		display: inline-flex;
	}
	&__cat-text {
		margin-left: 9px;
	}

	&__cat-checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
		display: block;
		width: 0;
		height: 0;

		&:checked + .checklist__cat-checkmark {
			border: 1px solid $colorPurple;
			&:before {
				background-image: url(/assets/img/interface/vector.svg);
				background-position-y: 42%;
				background-position-x: 40%;
				background-repeat: no-repeat;
			}
		}
	}

	&__cat-checkmark {
		cursor: pointer;
		display: inline-block;
		position: relative;
		border: 1px solid $colorDarkShade25;
		width: 18px;
		height: 18px;
		border-radius: 5px;

		&:before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
		}
	}

	&__cat-name {
		cursor: pointer;
		@include font-body;
		padding-top: 2px;
		max-width: 215px;
		&_rich {
			font-family: "Montserrat-Bold";
			margin-bottom: 5px;
		}
	}
	&__cat-descr {
		max-width: 230px;
		cursor: pointer;
		//	border: 1px solid red;
		font-family: "Montserrat-Regular";
		font-size: 12px;
		line-height: 14px;
		color: $colorDarkShade75;
	}
}
