mixin checklist(options={type: '', labelText: '',})
	-
		let elemName='checklist'
		let listStyle = ''
		let labelStyle = ''
		let nameStyle = ''
		options.type == 'expandable' ? listStyle = elemName + '__list-wrapper_hidden' : listStyle = ''
		options.type == 'expandable' ? labelStyle = elemName + '__label_collapsed' : labelStyle = ''
		options.type == 'rich' ? nameStyle = elemName + '__cat-name_rich' : nameStyle = ''
	fieldset(class = elemName)
		p(class = elemName + '__label ' + labelStyle)=options.labelText
			if (options.type == 'expandable')
				img(class = elemName + '__img ' + elemName + '__img_collapsed', src = "assets/img/interface/expand_more.svg")
		ul(class = elemName + '__list-wrapper ' + listStyle)
			each val, index in options.categories
				li(class = elemName + '__cat-wrapper')
					label(class = elemName + '__cat')
						input(class = elemName + '__cat-checkbox', type="checkbox")
						span(class = elemName + '__cat-checkmark')
						div(class = elemName + '__cat-text')
							p(class = elemName + '__cat-name ' + nameStyle)=val.name
							if options.type == 'rich'
								p(class = elemName + '__cat-descr')=val.descr