@mixin font-body() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: $colorDarkShade75;
}

@mixin font-h3() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;

fieldset {
	padding: 0;
	margin: 0;
	border: none;
}
.checklist {
	user-select: none;
	width: 266px;
	&__label {
		@include font-h3;
		position: relative;
		&_collapsing {
			cursor: pointer;
		}
	}
	&__img {
		position: absolute;
		right: 15px;
		top: 3px;
		&-expanded {
			transform: rotate(180deg);
			transition: all 0.3s ease 0s;
		}

		&_collapsed {
			transform: rotate(0deg);
			transition: all 0.3s ease 0s;
		}
	}

	&__list-wrapper {
		background-color: $colorWhite;
		position: absolute;
		z-index: 1;
		margin-top: 17px;
		&_hidden {
			display: none;
		}
	}
	&__cat-wrapper {
		margin-bottom: 7px;
	}

	&__cat {
		display: inline-flex;
	}
	&__cat-text {
		margin-left: 9px;
	}

	&__cat-checkbox {
		position: absolute;
		appearance: none;

		&:checked + .checklist__cat-checkmark,
		&:checked:focus + .checklist__cat-checkmark {
			border: 1px solid $colorPurple;
			background-image: url(/assets/img/interface/tip.svg);
			background-position-y: 42%;
			background-position-x: 40%;
			background-repeat: no-repeat;
		}
		&:focus + .checklist__cat-checkmark {
			border: 1px solid $colorPurple;
		}
	}

	&__cat-checkmark {
		//	margin-left: 1px;
		cursor: pointer;
		display: inline-block;
		position: relative;
		border: 1px solid $colorDarkShade25;
		width: 18px;
		height: 18px;
		border-radius: 5px;
		display: inline-block;
		width: 18px;
		height: 18px;
	}

	&__cat-name {
		cursor: pointer;
		@include font-body;
		padding-top: 2px;
		max-width: 215px;
		&_rich {
			font-family: "Montserrat", Arial, Helvetica, sans-serif;
			font-weight: bold;
			margin-bottom: 5px;
		}
	}
	&__cat-descr {
		max-width: 230px;
		cursor: pointer;
		font-family: "Montserrat", Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: $colorDarkShade75;
	}
}
