mixin checklist(options={type: '', labelText: '',})
  -
    let elementName='checklist'
    let style = options.expand == true ? elementName + '_collapsing' : ''
    let listStyle = options.expand == true ? elementName + '__list-wrapper_hidden' : ''
    let labelStyle = options.expand == true ? elementName + '__label_collapsing' : elementName + '__label_expanded'
    let tipStyle = options.expand == false ? elementName + '__image_non-collapsing' : ''
    let nameStyle = options.rich == true ? elementName + '__category-name_rich' : ''
  fieldset(class = elementName + ' js-' + elementName + ' ' + style)
    p(class = elementName + '__label' + ' js-' + elementName + '__label ' + labelStyle tabindex = 0)=options.labelText
      image(class = elementName + '__image' + ' js-' + elementName + '__image ' + elementName + '__image_collapsed ' + tipStyle, src = require('@com/checklist/image/expand-more.svg') alt = 'развернуть')
    ul(class = elementName + '__list-wrapper' + ' js-' + elementName + '__list-wrapper ' + listStyle)
      each value, index in options.categories
        li(class = elementName + '__category-wrapper')
          label(class = elementName + '__category')
            input(class = elementName + '__category-checkbox' type="checkbox", name = options.checkListName, value = value.name,)
            span(class = elementName + '__category-checkmark')
            div(class = elementName + '__category-text')
              p(class = elementName + '__category-name ' + nameStyle)=value.name
              if options.rich == true
                p(class = elementName + '__category-description')=value.description