mixin checklist(options={type: '', labelText: '',})
	-
		let elemName='checklist'
		let style = ''
		let listStyle = ''
		let labelStyle = ''
		let nameStyle = ''
		let tipStyle = ''
		let tabindex = ''
		options.expand == true ? style = elemName + '_collapsing' : style = ''
		options.expand == true ? listStyle = elemName + '__list-wrapper_hidden' : listStyle = ''
		options.expand == true ? labelStyle = elemName + '__label_collapsing' : labelStyle = ''
		options.expand == true ? tabindex = '0' : tabindex = '-1'
		options.expand == false ? tipStyle = elemName + '__img_non-collapsing' : tipStyle = ''
		options.rich == true ? nameStyle = elemName + '__cat-name_rich' : nameStyle = ''
	fieldset(class = elemName + ' ' + style)
		p(class = elemName + '__label ' + labelStyle tabindex = tabindex)=options.labelText
			img(class = elemName + '__img ' + elemName + '__img_collapsed ' + tipStyle, src = require('@com/checklist/img/expand-more.svg').default alt = 'развернуть')
		ul(class = elemName + '__list-wrapper ' + listStyle)
			each val, index in options.categories
				li(class = elemName + '__cat-wrapper')
					label(class = elemName + '__cat')
						input(class = elemName + '__cat-checkbox', type="checkbox", name = options.checkListName, value = val.name,)
						span(class = elemName + '__cat-checkmark')
						div(class = elemName + '__cat-text')
							p(class = elemName + '__cat-name ' + nameStyle)=val.name
							if options.rich == true
								p(class = elemName + '__cat-descr')=val.descr