.formElements {
	&__wrapper {
		position: relative;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding-top: 144px;
		//	background-color: gray;
	}
	&__col1 {
		margin-left: 141px;
	}
}

.label {
	&-marginTop1 {
		margin-top: 20px;
	}
	&-marginTop2 {
		margin-top: 23px;
	}
	&-marginTop3 {
		margin-top: 41px;
	}

	&-marginTop4 {
		margin-top: 100px;
	}
	&-marginBottom1 {
		margin-bottom: 5px;
	}
}

.date__wrapper {
	margin-top: 40px;
}
