//$wrapper: '.form-elements__comp-wrapper';

.form-elements {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 144px;
	//background-color: gray;

	&__col {
		&_left {
			margin-left: 141px;
			& > .form-elements__comp-wrapper {
				&:nth-child(1) {
					margin-top: 144px;
				}
				&:nth-child(2) {
					margin-top: 21px;
				}
				&:nth-child(3) {
					margin-top: 21px;
				}
				&:nth-child(4) {
					margin-top: 24px;
				}
				&:nth-child(5) {
					margin-top: 41px;
				}
				&:nth-child(6) {
					margin-top: 42px;
				}
				&:nth-child(7) {
					margin-top: 42px;
				}
				&:nth-child(8) {
					margin-top: 101px;
				}
				&:nth-child(9) {
					margin-top: 256px;
				}
				&:nth-child(10) {
					margin-top: 50px;
				}
				&:nth-child(11) {
					margin-top: 30px;
				}
			}
		}

		&_center {
			& > .form-elements__comp-wrapper {
				&:nth-child(1) {
					margin-top: 144px;
				}
				&:nth-child(2) {
					margin-top: 18px;
				}
				&:nth-child(3) {
					margin-top: 28px;
					margin-left: 13px;
				}
				&:nth-child(4) {
					margin-top: 79px;
					margin-left: 13px;
				}
				&:nth-child(5) {
					margin-top: 40px;
					margin-left: 13px;
				}
				&:nth-child(6) {
					margin-top: 196px;
					margin-left: 13px;
				}
				&:nth-child(7) {
					margin-top: 251px;
				}
			}
			&_right {
				& > .form-elements__comp-wrapper {
					&:nth-child(1) {
						margin-top: 144px;
					}
					&:nth-child(2) {
						margin-top: 0px;
					}
					&:nth-child(3) {
						margin-top: 0px;
					}
					&:nth-child(4) {
						margin-top: 0px;
					}
					&:nth-child(5) {
						margin-top: 0px;
					}
					&:nth-child(6) {
						margin-top: 0px;
					}
				}
			}
		}
	}
}
