.like-button {
  padding-left: 0;
  margin-left: 0;
  user-select: none;

  &__label-text {
    @include font-h3;
    max-width: 100px;

    &-text {
      margin-bottom: 16px;
    }
  }

  &__button {
    @include button-reset-style;
    position: relative;
    outline-offset: 5px;
    border: 1px solid $colorBorder;
    min-width: 40px;
    padding: 2px 0px 4px 21px;
    border-radius: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &::after {
      position: absolute;
      top: 1px;
      left: 5px;
      content: "♡";
      color: $colorBorder;
      font-size: 15px;
    }

    &_liked {
      border: 1px solid $colorMain;
      position: relative;

      &::after {
        position: absolute;
        top: 4px;
        content: "❤";
        color: $colorMain;
        font-size: 10px;
      }

      .like-button__counter {
        color: $colorMain;
      }
    }
  }

  &__counter {
    @include font-body;
    font-size: 9px;
    line-height: 12px;
  }
}
