mixin like-button(options={})
  -
    let elemName='like-button'
  div(class = elemName + ' js-' + elemName)
    if options.labelText
      p(class = elemName+'__label-text')=options.labelText
    button(class = elemName + '__button' + ' js-' + elemName + '__button')
      img(class = elemName + '__img' + ' js-' + elemName + '__img' src = require('@com/like-button/img/favorite-border.svg').default alt = 'мне нравится')
      span(class = elemName + '__counter' + ' js-' + elemName + '__counter') 2