mixin like-button(options={})
  -
    let elemName='like-button'
  div(class = elemName + ' js-' + elemName)
    if options.labelText
      p(class = elemName+'__label-text')=options.labelText
    button(class = elemName + '__button' + ' js-' + elemName + '__button')
      image(class = elemName + '__image' + ' js-' + elemName + '__image' src = require('@com/like-button/image/favorite-border.svg') alt = 'мне нравится')
      span(class = elemName + '__counter' + ' js-' + elemName + '__counter') 2