mixin info()
  -
    const elementName = 'info'

  a(class = `${elementName}` href = 'https://test/test') 
    image(class = `${elementName}__image` 
      src = require('@com/info/image/info.svg') alt = 'Узнать больше')