.date-dropdown {
  user-select: none;
  display: flex;
  justify-content: space-between;
  position: relative;

  @include media-breakpoint-down($xs) {
    gap: 10px;
  }

  &__message {
    @include font-body;
    font-weight: bold;
    color: $colorBorderError;
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 1;
    display: none;
    text-align: end;

    &_active {
      display: inline;
    }
  }

  &_width {
    &_wide {
      box-sizing: border-box;
      max-width: 320px;
      width: 100%;

      @include media-breakpoint-down($xs) {
        max-width: initial;
      }

      .air-datepicker {
        width: 320px;
        &-body--cells.-days- {
          grid-template-columns: repeat(7, 40px);
          grid-auto-rows: 40px;
        }

        &-cell {
          height: 40px;
        }
      }

      .air-datepicker-cell.-day- {
        &.-range-from-,
        &.-in-range-.-current- {
          &::before {
            @include cell-background-rounded(40px, 40px);
          }

          &::after {
            @include cell-background(20px, 40px, initial, 0px);
          }
        }

        &.-range-to- {
          &::before {
            @include cell-background-rounded(40px, 40px);
          }

          &::after {
            @include cell-background(20px, 40px, 0px, initial);
          }
        }

        &.-in-range-.-focus- {
          position: relative;

          &::before {
            @include cell-background-rounded(40px, 40px);
          }

          &::after {
            @include cell-background(40px, 40px, 0px, 0px);
          }
        }
      }
    }

    &_narrow {
      max-width: 266px;
      width: 100%;
      box-sizing: border-box;

      .air-datepicker {
        width: 266px;
        &-body--cells.-days- {
          grid-template-columns: repeat(7, 32px);
          grid-auto-rows: 32px;
        }

        &-cell {
          height: 32px;
        }
      }

      .air-datepicker-cell.-day- {
        &.-range-from-,
        &.-in-range-.-current- {
          &::before {
            @include cell-background-rounded(32px, 32px);
          }

          &::after {
            @include cell-background(16px, 32px, initial, 0px);
          }
        }

        &.-range-to- {
          &::before {
            @include cell-background-rounded(32px, 32px);
          }

          &::after {
            @include cell-background(16px, 32px, 0px, initial);
          }
        }

        &.-in-range-.-focus- {
          position: relative;

          &::before {
            @include cell-background-rounded(32px, 32px);
          }

          &::after {
            @include cell-background(32px, 32px, 0px, 0px);
          }
        }
      }
    }
  }

  &__label {
    width: 100%;
    position: relative;

    &-text {
      @include font-h3;
      margin: 0;
    }
  }

  &__calendar-wrapper {
    position: absolute;
    z-index: 3;
    top: 80px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    &_hidden {
      display: none;
    }
  }

  &__buttons {
    border: 1px solid $colorText;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    background-color: $colorTextBackground;
    display: flex;
    justify-content: space-between;
    padding: 0 19px 19px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__input {
    @include font-body;
    cursor: pointer;
    padding: 8px 0;
    text-indent: 12px;
    border-radius: 5px;
    border: 1px solid $colorBorder;
    margin-top: 5px;

    @include media-breakpoint-down($xs) {
      width: 100%;
    }

    &::placeholder {
      color: $colorTextNormal;
    }

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;

      @include media-breakpoint-down($xs) {
        width: 100%;
      }

      &::after {
        @include tip-style;
        right: 19px;
        bottom: 18px;
      }

      &_expanded {
        &::after {
          transform: rotate(135deg);
        }
      }
    }

    &:hover {
      border-color: $colorText;
    }

    &:focus {
      border-color: $colorText;
      outline: none;
    }

    &_width {
      &_narrow {
        min-width: 150px;

        @include media-breakpoint-down($xs) {
          min-width: initial;
        }

        @include media-breakpoint-down($xxs) {
          min-width: 140px;
        }
      }

      &_wide {
        min-width: 266px;
      }
    }

    &::-webkit-datetime-edit-fields-wrapper {
      font-family: $fontMain;
      color: $colorTextNormal;
      text-transform: uppercase;
    }

    &::-webkit-calendar-picker-indicator {
      -webkit-appearance: none;
      display: none;
    }

    &[type="date"] {
      text-indent: 6px;
    }
  }

  .air-datepicker {
    display: initial;
    z-index: 10;
    box-sizing: border-box;
    border: none;
    border: 1px solid $colorText;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &-nav {
      border: none;
      padding: 5px 16px 4px;
      min-height: 51px;

      &--title {
        @include font-h2;
        cursor: inherit;

        i {
          color: $colorTitle;
        }

        &:hover {
          background: none;
        }
      }

      &--action {
        &[data-action="prev"] {
          &::before {
            @include arrow-basis-style($colorMain);
            align-self: center;
          }

          &::after {
            @include arrow-tip-style($colorMain);
            align-self: center;
            transform: rotate(45deg);
          }
        }

        &[data-action="next"] {
          &::before {
            @include arrow-basis-style($colorMain);
            align-self: center;
          }

          &::after {
            @include arrow-tip-style($colorMain);
            align-self: center;
          }
        }
      }
    }

    &-body {
      &--day-name {
        @include font-h3;
        text-transform: capitalize;
        color: $colorMain;
      }

      &--cells {
        padding-top: 10px;
      }
    }

    &--content {
      padding: 17px 18px 20px;
      background-color: $colorTextBackground;
    }

    &-cell.-day- {
      @include font-h3;
      color: $colorText;
      font-weight: normal;
      border: none;

      &.-disabled- {
        color: $colorBorder;
      }

      &.-current- {
        color: $colorTextBackground;
        font-weight: 700;
        border-radius: 50%;
        background: $gradientSecondary;
      }

      &.-focus- {
        font-weight: 700;
        position: relative;
        border-radius: 50%;
        background: $gradientMain;

        &.-disabled- {
          background: none;
          font-weight: initial;
        }
      }

      &.-selected- {
        color: $colorTextBackground;
        font-weight: 700;
        position: relative;
        border-radius: 50%;
        background: $gradientMain;
      }

      &.-focus-.-selected- {
        background: $gradientMain;
        font-weight: 700;
      }

      &.-in-range- {
        background: $colorBackgroundDataDropdown;
      }

      &.-range-from-.-disabled- {
        background: none;

        &::before {
          background: none;
        }

        &::after {
          background: none;
        }
      }

      &.-in-range-.-disabled- {
        background: none;

        &::before {
          background: none;
        }

        &::after {
          background: none;
        }
      }
    }
  }
}
