@mixin font-body() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: $colorDarkShade75;
}

@mixin font-h3() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorBlue: #8ba4f9;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;
$colorLightBlue: #66d2ea;
$gradientPurple: linear-gradient($colorPurple 0%, $colorBlue 100%);
$gradientGreen: linear-gradient($colorGreen 0%, $colorLightBlue 100%);

.date-dropdown {
	user-select: none;
	&_wide {
		width: 320px;
	}
	&_narrow {
		width: 266px;
	}
	display: flex;
	justify-content: flex-start;
	position: relative;
	&__label {
		width: 100%;
		position: relative;
	}
	&__label-text {
		@include font-h3;
	}
	&__calendar-wrapper {
		position: absolute;
		z-index: 1;
		top: 68px;
		&_hidden {
			display: none;
		}

		&_narrow {
			& .datepicker-inline .datepicker {
				width: 266px;
				&--cell {
					height: 32px;
				}
				&--cell-day {
					&.-range-from-::after {
						height: 32px;
						width: 32.2px;
					}
					&.-range-to-::before {
						height: 32px;
						width: 32.2px;
					}
					&.-in-range-.-focus-::before {
						height: 32px;
						width: 32.27px;
					}
				}
			}
		}
	}
	&__buttons {
		position: absolute;
		bottom: 1px;
	}
	&__input-wrapper {
		display: flex;
		flex-direction: column;
	}
	&__img {
		position: absolute;
		bottom: 18px;
		right: 16px;

		&-expanded {
			transform: rotate(180deg);
			transition: all 0.9s ease 0s;
		}

		&_collapsed {
			transform: rotate(0deg);
			transition: all 0.9s ease 0s;
		}
	}
	&__input-wrapper:nth-child(2) {
		padding-left: 20px;
	}
	&__input {
		&::placeholder {
			color: $colorDarkShade75;
		}
		@include font-body;
		height: 44px;
		text-indent: 12px;
		border-radius: 5px;
		border: 1px solid $colorDarkShade25;
		margin-top: 5px;

		&:hover {
			border-color: $colorDarkShade50;
		}
		&:focus {
			border-color: $colorDarkShade50;
		}
		&_narrow {
			width: 150px;
		}
		&_wide {
			width: 266px;
		}
	}

	.datepicker {
		box-sizing: border-box;
		width: 320px;
		&--nav {
			border: none;
			padding: 4px 16px 4px 16px;
			min-height: 55px;
			&-title {
				font-family: "Montserrat", Arial, Helvetica, sans-serif;
				font-weight: bold;
				font-size: 19px;
				line-height: 23px;
				color: $colorDarkShade100;
				i {
					color: $colorDarkShade100;
				}
			}
			&-action {
				& path {
					fill: $colorPurple;
					stroke: none;
				}
				& svg {
					width: 17px;
					height: 18px;
				}
			}
		}
		&--day {
			&-name {
				color: $colorPurple;
				font-family: "Montserrat", Arial, Helvetica, sans-serif;
				font-weight: bold;
				font-weight: 700;
				font-size: 12px;
				line-height: 14.63px;
				text-transform: capitalize;
			}
		}

		&--cells {
			padding-top: 13px;
		}

		&--cell {
			height: 39px;
			&-day {
				color: $colorDarkShade50;
				font-family: "Montserrat", Arial, Helvetica, sans-serif;
				font-weight: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 14.63px;
			}
		}
		&--content {
			padding: 15px 18px 30px 20px;
		}
		&--buttons {
			border: none;
		}

		&--cell-day {
			&.-disabled- {
				color: $colorDarkShade25;
			}

			&.-current- {
				border-radius: 50%;
				background: $gradientGreen;
			}

			&.-range-from- {
				border: none;
				&::after {
					position: absolute;
					z-index: -1;
					content: "";
					height: 39px;
					width: 40px;
					background: $gradientPurple;
					opacity: 0.5;
					border-bottom-left-radius: 50%;
					border-top-left-radius: 50%;
				}
			}

			&.-range-to- {
				border: none;
				&::before {
					position: absolute;
					z-index: -1;
					content: "";
					height: 39px;
					width: 40px;
					background: $gradientPurple;
					opacity: 0.5;
					border-bottom-right-radius: 50%;
					border-top-right-radius: 50%;
				}
			}

			&.-focus- {
				font-weight: 700;
				position: relative;
				border-radius: 50%;
				background: $gradientPurple;
			}

			&.-selected- {
				font-weight: 700;
				position: relative;
				border-radius: 50%;
				background: $gradientPurple;
			}

			&.-focus-.-selected- {
				background: $gradientPurple;
				font-weight: 700;
			}

			&.-in-range- {
				background: $gradientPurple;
				opacity: 0.5;
			}

			&.-in-range-.-focus- {
				position: relative;
				border-radius: 50%;
				background: $gradientPurple;
				opacity: 1;
				&::before {
					position: absolute;
					content: "";
					height: 39px;
					width: 40px;
					background: $gradientPurple;
					opacity: 0.5;
				}
			}
		}
	}
}
