@import '@styles/glob.scss';

.booking {
  box-sizing: border-box;
  background-color: $colorWhite;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 380px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 39px;

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__details-room {
    margin-top: 2px;
  }

  &__detail-mark {
    @include font-h3;
    padding-left: 1px;
  }

  &__detail-number {
    @include font-h1;
    padding-left: 6px;
  }

  &__detail-is-lux {
    @include font-h3;
    color: $colorPurple;
    padding-left: 9px;
  }

  &__details-price {
    margin-top: 8px;
  }

  &__detail-price {
    @include font-body;
    font-weight: bold;
    color: $colorDarkShade50;
  }

  &__detail-price-currency {
    @include font-body;
    font-weight: bold;
    color: $colorDarkShade50;
  }

  &__detail-label {
    @include font-body;
    font-size: 12px;
    color: $colorDarkShade50;
    padding-left: 3px;
  }

  &__date-dropdown {
    margin-top: 19px;
  }

  &__guests {
    margin-top: 21px;
  }
  &__price-breakdown {
    @include font-body;
    line-height: 21px;
  }
  &__price-details {
    display: flex;
    justify-content: space-between;
    &:first-of-type {
      margin-top: 20px;
    }
    margin-bottom: 13px;
  }
  &__price-detail {
    &:first-child {
      max-width: 216px;
    }
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__price-detail-days-amount {
    padding-left: 5px;
  }
  &__price-detail-day {
    padding-left: 5px;
  }

  &__price-detail-sale-value {
    padding-left: 5px;
  }

  &__price-detail-info {
    flex-grow: 1;
    flex-shrink: 1;
  }
  &__price-detail-info {
    padding-left: 5px;
    cursor: pointer;
  }

  &__price-total {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    @include font-h2;
  }
  &__price-total-filling {
    flex-grow: 1;
    flex-shrink: 1;
    border-bottom: 1px dashed $colorDarkShade25;
    align-self: center;
    padding-top: 14px;
  }
  &__booking {
    margin-top: 21px;
    margin-bottom: 30px;
  }

  @include media-breakpoint-down($xxs) {
    padding-right: 10px;
    padding-left: 25px;
  }
}

.js-error {
  border: 1px solid red;
}
