.booking {
  background-color: $color-text-background;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: $form-width;
  width: 100%;
  padding: 40px 29px 23px 29px;
  margin-block-end: 0;
  position: relative;

  @include media-breakpoint-down($xs) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__error-message {
    position: absolute;
    display: none;
    top: 30px;
    right: 30px;
    left: 30px;

    &_active {
      display: block;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    &-price {
      margin-top: 6px;
      color: $color-background;
    }
  }

  &__detail {
    &-mark {
      @include font-h3;
      font-size: 14px;
    }

    &-number {
      @include font-h1;
      padding-left: 4px;
    }

    &-lux {
      @include font-h3;
      color: $color-main;
      padding-left: 9px;
    }

    &-price {
      @include font-body;
      font-weight: bold;
      color: $color-text-light;
    }

    &-label {
      @include font-body;
      font-size: 12px;
      color: $color-text-light;
      padding-left: 3px;
    }
  }

  &__date-dropdown {
    margin-top: 19px;
  }

  &__guests {
    margin-top: 21px;
  }

  &__price {
    &-breakdown {
      @include font-body;
      color: $color-text-normal;
      display: grid;
      grid-template-columns: 2.7fr 18px 1fr;
      grid-template-rows: repeat(3, auto);
      padding-left: 1px;
      margin-top: 22px;
      line-height: 18px;
      row-gap: 16px;
    }

    &-base {
      &-cost {
        justify-self: end;
        grid-column-start: 3;
        grid-column-end: 4;
      }
    }

    &-service {
      &-name {
        width: 100%;
      }

      &-cost {
        justify-self: end;
      }

      &-info {
        margin-top: -2px;
      }
    }

    &-extra {
      &-name {
        width: 100%;
      }

      &-cost {
        justify-self: end;
      }

      &-info {
        margin-top: -2px;
      }
    }

    &-total {
      &-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 29px;
        padding-left: 2px;
      }

      &-delimiter {
        flex-grow: 2;
        margin-left: 5px;
        border-bottom: 1px dotted $color-border;
        height: 18px;
      }

      &-name,
      &-cost {
        @include font-h2;
      }

      &-cost {
        justify-self: end;
        white-space: nowrap;
        grid-column-start: 3;
        grid-column-end: 4;
      }

      &-name {
        position: relative;
      }
    }
  }

  &__book-button {
    margin-top: 20px;
    margin-bottom: 6px;
  }
}
