.booking {
  box-sizing: border-box;
  background-color: $colorWhite;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 380px;
  height: 512px;
  padding: 30px;

  &__details {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__detail-mark {
    @include font-h3;
    padding-left: 1px;
  }

  &__detail-number {
    @include font-h1;
    padding-left: 6px;
  }

  &__detail-is-lux {
    @include font-h3;
    color: $colorPurple;
    padding-left: 9px;
  }

  &__details-price {
    margin-top: 6px;
  }

  &__detail-price {
    @include font-body;
    font-weight: bold;
    color: $colorDarkShade50;
  }

  &__detail-label {
    @include font-body;
    font-size: 12px;
    color: $colorDarkShade50;
    padding-left: 3px;
  }

  &__date-dropdown {
    margin-top: 19px;
  }

  &__guests {
    margin-top: 20px;
  }
  &__price-breakdown {
    margin-top: 20px;
    @include font-body;
    line-height: 21px;
  }
  &__price-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    position: relative;
  }
  &__price-name {
    max-width: 220px;
  }

  &__price-info {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 220px;
  }

  &__price-total-filling {
    flex-grow: 1;
    flex-shrink: 1;
    border-bottom: 1px dashed $colorDarkShade25;
    margin-bottom: 5px;
  }
  &__booking {
    margin-top: 20px;
  }
}

.js-error {
  border: 1px solid red;
}
