@mixin font-body() {
	font-family: "Montserrat-Regular";
	font-size: 12px;
	//line-height: 24px;
	color: $colorDarkShade75;
}

@mixin font-h3() {
	font-family: "Montserrat-Bold";
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;
$colorBlue: #66d2ea;

.range-slider {
	//	border: 1px solid orange;
}

.range-slider {
	&__wrapper {
		width: 266px;
	}
	&__title-wrapper {
		display: flex;
		justify-content: space-between;
		//	border: 1px solid red;
		margin-bottom: -3px;
	}

	&__title {
		white-space: nowrap;

		@include font-h3;
		width: 50%;

		// .header-block {
		// 	padding: 0;
		// }
	}
	&__price {
		width: 50%;
		//border: 1px solid blue;
		width: 100%;
		text-align: end;
		border: none;
		pointer-events: none;
		font-size: 12px;
		text-transform: uppercase;
		@include font-body;
	}

	span.irs.irs--flat {
		.irs-line {
			max-width: 266px;
			width: 100%;
			height: 6px;
			background: $colorWhite;
			border: 1px solid $colorDarkShade25;
			box-sizing: border-box;
			border-radius: 3px;
		}

		.irs-handle {
			width: 14px;
			height: 14px;
			margin-top: -1px;
			background: linear-gradient(180deg, $colorGreen 0%, $colorBlue 100%);
			border: 2px solid $colorWhite;
			border-radius: 50%;
			box-sizing: border-box;
			outline: none;
			cursor: pointer;

			i {
				display: none;
			}
		}

		.irs-bar {
			height: 6px;
			background: linear-gradient(180deg, $colorGreen 0%, $colorBlue 100%);
			border-radius: 3px;
		}
	}
}
