.range-slider {
  &__wrapper {
    max-width: 266px;
  }

  &__title {
    @include font-h3;
    white-space: nowrap;
    margin: 0;
    width: 50%;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: -3px;
    }
  }

  &__price {
    display: flex;
    justify-content: flex-end;
    width: 50%;

    &-delimiter {
      width: 5px;
      text-align: center;
    }

    &-from {
      text-align: end;
    }

    &-to {
      text-align: end;
    }

    &-from,
    &-to,
    &-delimiter {
      @include font-body;
      border: none;
      font-size: 12px;
      text-transform: uppercase;
      line-height: initial;
    }
  }

  &__text {
    @include font-body;
    margin: 0;
    font-size: 12px;
  }

  .irs-line {
    cursor: pointer;
    width: 100%;
    height: 6px;
    background: $colorTextBackground;
    border: 1px solid $colorBorder;
    border-radius: 3px;
  }

  .irs--flat .irs-handle {
    width: 14px;
    height: 14px;
    margin-top: -1px;
    background: $gradientSecondary;
    border: 2px solid $colorTextBackground;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    &:focus {
      outline: auto;
    }

    i {
      display: none;
    }
  }

  .irs-bar {
    cursor: pointer;
    height: 6px;
    background: $gradientSecondary;
    border-radius: 3px;
  }
}
