mixin range-slider(options = {})
  -
    let elementName = 'range-slider'
  div(class = elementName + ' js-' + elementName)
    div(class = elementName + '__wrapper')
      div(class = elementName + '__title-wrapper')
        if options.labelText
          p(class = elementName + '__title')= options.labelText
        div(class = elementName + '__price')
          input(class = elementName + '__price-from')
          span(class = elementName + '__price-delimiter') -
          input(class = elementName + '__price-to')
      input(class = elementName + '__slider' type = 'text' data-type = options.type data-min = options.min data-max = options.max data-step = options.step data-from = options.from data-to = options.to data-hide-min-max = options.isMinMaxHidden data-hide-from-to = options.isFromToHidden)
      P(class = elementName + '__text')= options.text




