extends ../ui-kit-layout/ui-kit-layout.pug

include ../../components/logo/logo.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/input-field/input-field.pug
include ../../components/dropdown/dropdown.pug
include ../../components/checklist/checklist.pug
include ../../components/radiobuttons/radiobuttons.pug
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/range-slider/range-slider.pug
include ../../components/button/button.pug
include ../../components/feature/feature.pug
include ../../components/feedback/feedback.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/pagination/pagination.pug

block title
  title Form Elements
block content
  -
    const {
      textField,
      dropdownRooms,
      dropdownGuests,
      checkListExpandable,
      checkListCheckBox,
      checkListRichCheckBox,
      maskedTextField,
      dateDropdown,
      filterDateDropdown,
      subscriptionTextField,
      radiobuttons,
      toggles,
      likeButtons,
      rateButtons,
      rangeSlider,
      buttonDarkShort,
      buttonLightShort,
      buttonPlain,
      buttonDarkLong,
      bulletList,
      features,
      feedback
    } = require('@pag/form-elements/form-elements.json')

  main(class="form-elements")
    div(class="form-elements__wrapper-top")
      div(class="form-elements__column")
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-left")
          +input-field(textField)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-left")
          +input-field(textField)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-left")
          +dropdown({...dropdownRooms, width: "wide"})
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-left")
          +input-field(maskedTextField)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-left")
          +date-dropdown(dateDropdown)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-left")
          +date-dropdown(filterDateDropdown)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-left")
          +input-field(subscriptionTextField)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-left")
          +dropdown(dropdownRooms)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-left")
          +dropdown(dropdownRooms)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-left")
          +checklist(checkListExpandable)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-left")
          +checklist(checkListExpandable)
      div(class="form-elements__column")
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-middle")
          +checklist(checkListCheckBox)
        span(class='form-elements__label') radio buttons
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-middle")
          +radiobuttons(radiobuttons)
        span(class='form-elements__label form-elements__label_position_top-middle') toggle
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-middle")
          +toggle(toggles)
          +toggle({name: toggles.name})
        span(class='form-elements__label form-elements__label_position_top-middle') like-button
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-middle")
          +like-button(likeButtons[0])
          +like-button(likeButtons[1])
        span(class='form-elements__label form-elements__label_position_top-middle') rate button
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-middle")
          +rate-button({name: rateButtons[0]})
          +rate-button({name: rateButtons[1]})
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-middle")
          +dropdown(dropdownGuests)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-middle")
          +checklist(checkListRichCheckBox)
      div(class="form-elements__column")
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-right")
          +range-slider(rangeSlider)
        span(class='form-elements__label form-elements__label_position_top-right') buttons
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-right")
          +button(buttonDarkShort)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-right")
          +button(buttonLightShort)
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-right")
          +button({
            text: buttonPlain.text,
            type: buttonPlain.type})
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-right")
          +button(buttonDarkLong)
        span(class='form-elements__label form-elements__label_position_top-right') pagination
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-right")
          +pagination()
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-right")
          +dropdown(dropdownGuests)
        span(class='form-elements__label form-elements__label_position_top-right') bullet list
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_top-right")
          +bullet-list({categories: bulletList.categories})
    div(class="form-elements__wrapper-bottom")
      div(class="form-elements__column")
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_bottom-left")
          +feature({
            ...features[0],
            imageName: require('@pag/form-elements/image/smile.svg')})
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_bottom-left")
          +feature({
            ...features[1],
            imageName: require('@pag/form-elements/image/city.svg')})
      div(class="form-elements__column")
        div(class="form-elements__comp-wrapper form-elements__comp-wrapper_position_bottom-right")
          +feedback({
            ...feedback,
            imageName: require('@pag/form-elements/image/murad.jpg')})
