extends ../ui-kit-layout/ui-kit-layout.pug
include ../../components/logo/logo.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/input-field/input-field.pug
include ../../components/dropdown/dropdown.pug
include ../../components/checklist/checklist.pug
include ../../components/radiobuttons/radiobuttons.pug
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/range-slider/range-slider.pug
include ../../components/button/button.pug
include ../../components/feature/feature.pug
include ../../components/feedback/feedback.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/pagination/pagination.pug
block title
  title Form Elements
block content 
  main(class="form-elements")
    div(class="form-elements__column form-elements__column_left form-elements__column_left-top")
      div(class="form-elements__comp-wrapper")
        +input(
          {width: 'wide',
          placeholder: 'Email',
          js:'js-check-email',
          labelText: 'text field'} 
          )
      div(class="form-elements__comp-wrapper")
        +input(
          {width: 'wide',
          placeholder: 'Email',
          js:'js-check-email',
          labelText: 'text field'}
          )
      div(class="form-elements__comp-wrapper")
        +dropdown(
          {categories:
            [{displayName: 'взрослые', type: 'гость', declensions: 'гость,гостя,гостей',  defaultCount: 0, minCount: 0, maxCount: 99}, 
            {displayName: 'дети', type: 'гость', declensions: 'гость,гостя,гостей', defaultCount: 0, minCount: 0, maxCount: 99}, 
            {displayName: 'младенцы', type: 'младенец', declensions: 'младенец,младенца,младенцев', defaultCount: 0, minCount: 0, maxCount: 99}], 
          type: 'dropDownGuests',
          placeholder: 'Сколько гостей',
          buttons: true,
          labelText: 'dropdown',
          width: 'wide'}
          )
      div(class="form-elements__comp-wrapper")
        +input(
          {width: 'wide',
          placeholder: 'ДД.ММ.ГГГГ',
          js:' js-masked js-date',
          labelText: 'masked text field'}
          )
      div(class="form-elements__comp-wrapper")
        +date-dropdown(
          {width:'wide',
          type:'dateDropDown',
          labelTextFrom: 'date dropdown',
          labelTextTo: 'date dropdown'}
          )
      div(class="form-elements__comp-wrapper")
        +date-dropdown(
          {width:'narrow',
          type: 'filterDateDropDown',
          labelTextFromTo: 'filter date dropdown'}
          )
      div(class="form-elements__comp-wrapper")
        +input(
          {width: 'medium',
          placeholder: 'Email',
          js:' js-check-email',
          labelText: 'subscription text field',
          image: true,
          name: 'оформить подписку'}
          )
      div(class="form-elements__comp-wrapper")
        +dropdown(
          {categories:
            [ {displayName: 'спальни', type: 'спальня', declensions: 'спальня,спальни,спален', defaultCount: 0, minCount: 0, maxCount: 5}, 
              {displayName: 'кровати', type: 'кровать', declensions: 'кровать,кровати,кроватей', defaultCount: 0, minCount: 0, maxCount: 10}, 
              {displayName: 'ванные комнаты', type: 'ванная комната', declensions: 'ванная комната,ванные комнаты,ванных комнат', defaultCount: 0, minCount: 0, maxCount: 3}], 
          type: 'dropDownRooms',
          placeholder: 'Сколько комнат',
          labelText: 'dropdown',
          width: 'narrow'}
          )
      div(class="form-elements__comp-wrapper")
        +checklist(
          {categories:
            [{name:'Завтрак'}, 
            {name:'Письменный стол'}, 
            {name:'Стул для кормления'}, 
            {name:'Кроватка'}, 
            {name:'Телевизор'}, 
            {name:'Шампунь'}],
          expand: true,
          rich: false, 
          labelText: 'expandable checkbox list',}
          )
      div(class="form-elements__comp-wrapper")
        +checklist(
          {categories:
            [{name:'Завтрак'}, 
            {name:'Письменный стол'}, 
            {name:'Стул для кормления'}, 
            {name:'Кроватка'}, 
            {name:'Телевизор'}, 
            {name:'Шампунь'}],
          expand: true,
          rich: false, 
          labelText: 'expandable checkbox list'}
          )
    div(class="form-elements__column form-elements__column_center form-elements__column_center-top")
      div(class="form-elements__comp-wrapper")
        +checklist(
          {categories:
            [{name:'Можно курить'}, 
            {name:'Можно с питомцами'}, 
            {name:'Можно пригласить гостей (до 10 человек)'}],
          expand: false,
          rich: false, 
          labelText: 'checkbox buttons'}
          )
      span(class='form-elements__label') radio buttons
      div(class="form-elements__comp-wrapper")
        +radiobuttons({categories:
          [{name:'Мужчина', checked: true}, 
          {name:'Женщина'}],
          radioGroupName: 'gender'})
      span(class='form-elements__label') toggle
      div(class="form-elements__comp-wrapper")
        +toggle(
          {name: 'Получать спецпредложения'}
          )
      span(class='form-elements__label') like-button
      div(class="form-elements__comp-wrapper")
        +like-button()
      span(class='form-elements__label') rate button
      div(class="form-elements__comp-wrapper")
        +rate-button(
          {name: 'name'})
      div(class="form-elements__comp-wrapper")
        +dropdown(
          {categories:
            [{displayName: 'взрослые', type: 'гость', declensions: 'гость,гостя,гостей',  defaultCount: 0, minCount: 0, maxCount: 99}, 
            {displayName: 'дети', type: 'гость', declensions: 'гость,гостя,гостей', defaultCount: 0, minCount: 0, maxCount: 99}, 
            {displayName: 'младенцы', type: 'младенец', declensions: 'младенец,младенца,младенцев', defaultCount: 0, minCount: 0, maxCount: 99}], 
          type: 'dropDownGuests',
          placeholder: 'Сколько гостей',
          buttons: true,
          labelText: 'dropdown',
          width: 'wide'}
          )
      div(class="form-elements__comp-wrapper")
        +checklist(
          {categories:
            [{name:'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см'}, 
            {name:'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера'}],
            expand: false,
            rich: true, 
          labelText: 'rich checkbox buttons'}
          )
    div(class="form-elements__column form-elements__column_right form-elements__column_right-top")
      div(class="form-elements__comp-wrapper")
        +range-slider(
          {labelText: 'range slider',
          sliderType: 'double', 
          min:1000, 
          max:15000, 
          step:1, 
          from:5000, 
          to:10000, 
          isMinMaxHidden:'true', 
          isFromToHidden:'true'}
          )
      span(class='form-elements__label') buttons
      div(class="form-elements__comp-wrapper")
        +button(
          {text: 'click me',
          type: 'link',
          length: 'short',
          width: 'wide',
          color: 'dark',
          href: 'https://test/test'}
          )
      div(class="form-elements__comp-wrapper")
        +button(
          {text: 'click me',
          type: 'link',
          length: 'short',
          width: 'wide',
          color: 'light',
          href: 'https://test/test'}
          )
      div(class="form-elements__comp-wrapper")
        +button(
          {text: 'click me',
          type: 'plain-text'}
          )
      div(class="form-elements__comp-wrapper")
        +button(
          {text: 'перейти к оплате',
          type: 'submit',
          length: 'very-long',
          width: 'wide',
          color: 'dark',
          image: true}
          )
      span(class='form-elements__label') pagination
      div(class="form-elements__comp-wrapper")
        +pagination()
      div(class="form-elements__comp-wrapper")
        +dropdown(
          {categories:
            [{displayName: 'взрослые', type: 'гость', declensions: 'гость,гостя,гостей',  defaultCount: 0, minCount: 0, maxCount: 99}, 
            {displayName: 'дети', type: 'гость', declensions: 'гость,гостя,гостей', defaultCount: 0, minCount: 0, maxCount: 99}, 
              {displayName: 'младенцы', type: 'младенец', declensions: 'младенец,младенца,младенцев', defaultCount: 0, minCount: 0, maxCount: 99}], 
          type: 'dropDownGuests',
          placeholder: 'Сколько гостей',
          buttons: true,
          labelText: 'dropdown',
          width: 'wide'}
          )
      span(class='form-elements__label') bullet list
      div(class="form-elements__comp-wrapper")
        +bullet-list(
          { categories: ['Нельзя с питомцами',
            'Без вечеринок и мероприятий',
            'Время прибытия — после 13:00, а выезд до 12:00']}
          )
  div(class="form-elements")
    div(class="form-elements__column form-elements__column_left form-elements__column_left-bottom")
      div(class="form-elements__comp-wrapper")
        +feature(
          {image: require('@pag/form-elements/image/smile.svg'),
          name: 'Комфорт',
          description: 'Шумопоглощающие стены',
          alt: 'smile'}
          )
      div(class="form-elements__comp-wrapper")
        +feature(
          {image: require('@pag/form-elements/image/city.svg'),
          name: 'Удобство',
          description: 'Окно в каждой из спален',
          alt: 'city'
          }
          )
    div(class="form-elements__column form-elements__column_right form-elements__column_right-bottom")
      div(class="form-elements__comp-wrapper")
        +feedback(
          {image: require('@pag/form-elements/image/murad.jpg'),
          name: 'Мурад Сарафанов',
          date: '5 дней назад',
          description: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
          alt: 'Мурад Сарафанов'
          }
          )