$labelTopMiddleMap: (1 32, 2 40, 3 45, 4 41);
$compWrapperTopLeftMap: (2 21, 3 21, 4 23, 5 41, 6 42, 7 42, 8 101, 9 21, 10 173, 11 49);
$compWrapperTopMiddleMap: (1 0, 2 156, 3 17, 4 79, 5 15, 6 199, 7 16, 9 17, 10 199, 11 256);
$compWrapperTopRightMap: (1 0, 2 0, 3 12, 4 29, 5 32, 6 28, 7 20, 8 2, 9 233, 10 257);

.form-elements {
  flex-grow: 1;
  width: 100%;
  max-width: 1270px;
  margin: 143px auto 100px;

  &__column {
    max-width: 320px;
  }

  &__label {
    @include font-h3;
    display: inline-block;

    &_position_top-right {
      &:nth-of-type(1) {
        margin-top: 35px;
        margin-bottom: 2px;
      }

      &:nth-of-type(2) {
        margin-top: 40px;
        margin-bottom: 14px;
      }
      &:nth-of-type(3) {
        margin-top: 257px;
        margin-bottom: 13px;
      }
    }

    &_position_top-middle {
      @each $key, $value in $labelTopMiddleMap {
        &:nth-of-type(#{$key}) {
          margin-top: #{$value}px;
        }
      }
    }
  }

  &__comp-wrapper_position {
    &_top-left {
      @each $key, $value in $compWrapperTopLeftMap {
        &:nth-child(#{$key}) {
          margin-top: #{$value}px;
        }
      }
    }

    &_top-middle {
      @each $key, $value in $compWrapperTopMiddleMap {
        &:nth-child(#{$key}) {
          margin-top: #{$value}px;
        }
      }

      &:nth-child(5) {
        display: flex;
        flex-direction: column;
        min-height: 54px;
        justify-content: space-between;
      }

      &:nth-child(7) {
        display: flex;
        max-width: 90px;
        justify-content: space-between;
      }

      &:nth-child(9) {
        display: flex;
        max-width: 255px;
        justify-content: space-between;
      }
    }

    &_top-right {
      @each $key, $value in $compWrapperTopRightMap {
        &:nth-child(#{$key}) {
          margin-top: #{$value}px;
        }
      }

      &:nth-child(3),
      &:nth-child(4) {
        width: 100%;
        max-width: 99px;
      }

      &:nth-child(5) {
        width: auto;
        display: inline-block;
      }

      &:nth-child(6) {
        width: 100%;
        max-width: 300px;
      }
    }

    &_bottom-left {
      &:nth-child(1) {
        margin-top: 216px;
      }

      &:nth-child(2) {
        margin-top: 24px;
      }
    }

    &_bottom-right {
      &:nth-child(1) {
        margin-top: 222px;
        width: 100%;
        max-width: 710px;

        @include media-breakpoint-down($md) {
          margin-top: 20px;
          margin-left: 0;
        }
      }
    }
  }

  &__wrapper {
    &-top {
      display: grid;
      grid-template-columns: 35% 31% auto;

      @include media-breakpoint-down($md) {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &-bottom {
      display: grid;
      grid-template-columns: 35% auto;

      @include media-breakpoint-down($md) {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
