extends ../ui-kit-layout/ui-kit-layout.pug

include ../../components/logo/logo.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/input-field/input-field.pug
include ../../components/input-date/input-date.pug
include ../../components/input-email/input-email.pug
include ../../components/dropdown/dropdown.pug
include ../../components/checklist/checklist.pug
include ../../components/radiobuttons/radiobuttons.pug
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/range-slider/range-slider.pug
include ../../components/button/button.pug
include ../../components/feature/feature.pug
include ../../components/feedback/feedback.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/pagination/pagination.pug

block title
  title Form Elements
block logo 
  +logo()
block content
  -
    const {
      emailField,
      textField,
      dropdownRooms,
      dropdownGuests,
      checkListExpandable,
      checkListCheckBox,
      checkListRichCheckBox,
      maskedTextField,
      dateDropdown,
      filterDateDropdown,
      subscriptionTextField,
      radiobuttons,
      toggles,
      likeButtons,
      rateButtons,
      rangeSlider,
      buttonDarkShort,
      buttonLightShort,
      buttonPlain,
      buttonDarkLong,
      bulletList,
      features,
      feedback
    } = require('@pag/form-elements/form-elements.json')

  main(class = "form-elements js-form-elements")
    div(class = "form-elements__wrapper-top")
      div(class = "form-elements__column-top")
        div(class = "form-elements__component-wrapper-top-left")
          div(class = "js-form-elements__input-email")
            +input-email(emailField)
        div(class = "form-elements__component-wrapper-top-left")
          +input-field(textField)
        div(class = "form-elements__component-wrapper-top-left")
          div(class = "js-form-elements__dropdown")
            +dropdown({
              ...dropdownGuests, 
              width: 'wide',
            })
        div(class = "form-elements__component-wrapper-top-left")
          div(class = "js-form-elements__input-date")
            +input-date(maskedTextField)
        div(class = "form-elements__component-wrapper-top-left")
          div(class = "js-form-elements__date-dropdown")
            +date-dropdown(dateDropdown)
        div(class = "form-elements__component-wrapper-top-left")
          div(class = "js-form-elements__date-dropdown")
            +date-dropdown(filterDateDropdown)
        div(class = "form-elements__component-wrapper-top-left")
          div(class = "js-form-elements__input-email")
            +input-email(subscriptionTextField)
        div(class = "form-elements__component-wrapper-top-left")
          div(class = "js-form-elements__dropdown")
            +dropdown(dropdownRooms)
        div(class = "form-elements__component-wrapper-top-left")
          div(class = "js-form-elements__dropdown")
            +dropdown(dropdownRooms)
        div(class = "form-elements__component-wrapper-top-left")
          div(class = "js-form-elements__checklist")
            +checklist(checkListExpandable)
        div(class = "form-elements__component-wrapper-top-left")
          div(class = "js-form-elements__checklist")
            +checklist(checkListExpandable)
      div(class = "form-elements__column-top")
        div(class = "form-elements__component-wrapper-top-middle")
          div(class = "js-form-elements__checklist")
            +checklist(checkListCheckBox)
        section(class = "form-elements__component-wrapper-top-middle")
          span(class = "form-elements__label form-elements__label-radio") radio buttons
          div(class = "form-elements__inner-wrapper-radio")
            +radiobuttons(radiobuttons)
        section(class = "form-elements__component-wrapper-top-middle")
          span(class = "form-elements__label form-elements__label-toggle") toggle
          div(class = "form-elements__inner-wrapper-toggle")
            +toggle(toggles)
            +toggle({ value: toggles.value })
        section(class = "form-elements__component-wrapper-top-middle")
          span(class = "form-elements__label form-elements__label-like-button") like button
          div(class = "form-elements__inner-wrapper-like-button")
            div(class = "js-form-elements__like-button")
              +like-button(likeButtons[0])
            div(class = "js-form-elements__like-button")
              +like-button(likeButtons[1])
        section(class = "form-elements__component-wrapper-top-middle")
          span(class = "form-elements__label form-elements__label-rate-button") rate button
          div(class = "form-elements__inner-wrapper-rate-button")
            +rate-button({ ratingName: rateButtons[0] })
            +rate-button({ ratingName: rateButtons[1] })
        div(class = "form-elements__component-wrapper-top-middle")
          div(class = "js-form-elements__dropdown")
            +dropdown(dropdownGuests)
        div(class = "form-elements__component-wrapper-top-middle")
          div(class = "js-form-elements__checklist")
            +checklist(checkListRichCheckBox)
      div(class = "form-elements__column-top")
        div(class = "form-elements__component-wrapper-top-right")
          div(class = "js-form-elements__range-slider")
            +range-slider(rangeSlider)
        section(class = "form-elements__component-wrapper-top-right")
          span(class = "form-elements__label form-elements__label-buttons") buttons
          div(class = "form-elements__inner-wrapper-buttons")
            +button(buttonDarkShort)
          div(class = "form-elements__inner-wrapper-buttons")
            +button(buttonLightShort)
          div(class = "form-elements__inner-wrapper-buttons")
            +button({
              text: buttonPlain.text,
              type: buttonPlain.type,
            })
          div(class = "form-elements__inner-wrapper-buttons")
            +button(buttonDarkLong)
        section(class = "form-elements__component-wrapper-top-right")
          span(class = "form-elements__label form-elements__label-pagination") pagination
          div(class = "form-elements__inner-wrapper-pagination")
            +pagination()
        div(class = "form-elements__component-wrapper-top-right")
          div(class = "js-form-elements__dropdown")
            +dropdown(dropdownGuests)
        section(class = "form-elements__component-wrapper-top-right")
          span(class = "form-elements__label form-elements__label-bullet-list") bullet list
          div(class = "form-elements__inner-wrapper-bullet-list")
            +bullet-list({ categories: bulletList.categories })
    div(class = "form-elements__wrapper-bottom")
      div(class = "form-elements__column-bottom")
        div(class = "form-elements__component-wrapper-bottom-left")
          +feature(features[0])
        div(class = "form-elements__component-wrapper-bottom-left")
          +feature(features[1])
      div(class = "form-elements__column-bottom")
        div(class = "form-elements__component-wrapper-bottom-right")
          div(class = "js-form-elements__feedback")
            +feedback({
              ...feedback,
              imagePath: require('@pub/images/feedback/murad.jpg'),
            })
