extends ../layout/layout.pug

include ../../components/registration/registration.pug

block title
  title Registration page
block content 
  main(class = 'registration-page')
    section(class = 'registration-page__registration-wrapper')
      +registration()
