extends ../layout/layout.pug

include ../../components/registration/registration.pug

block title
  title Registration page
block content 
  main(class = "registration-page js-registration-page")
    section(class = "registration-page__registration-wrapper js-registration-page__registration")
      +registration()
