.registration-page {
  @include page-background("@pag/registration-page/image/bedroom.jpg", -70px);
  flex-grow: 1;
  min-height: 683px;
  display: grid;
  align-items: center;

  @include media-breakpoint-down($xs) {
    min-height: 753px;
    background-position: initial;
  }

  &__registration-wrapper {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down($xs) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
