extends ../layout/layout.pug
include ../../components/registration/registration.pug
block title
	title Registration page
block content 
	main(class = 'registration-page')
		img(class = 'registration-page__background' src = require('@pag/registration-page/img/bedroom.jpg').default)
		section(class = 'registration-page__registration-wrapper')
			+registration()
