extends ../layout/layout.pug
include ../../components/registration/registration.pug
block title
  title Registration page
block content 
  main(class = 'registration-page')
    image(class = 'registration-page__background' alt = 'фоновое изображение - спальня' src = require('@pag/registration-page/image/bedroom.jpg'))
    section(class = 'registration-page__registration-wrapper')
      +registration()
