mixin logo({ color = 'white' } = {})
  -
    const prepareOptions = require ('@com/logo/logo-utils.js').default;

    const { 
      elementName, 
      logoColor,
    } = prepareOptions({ color });

  div(class = `${elementName} ${elementName}_color_${logoColor}`)
    a(class = `${elementName}__link` href = "index.html" alt = "на главную")






