include ../../components/head/head.pug

html(lang = "ru")
  head
    block title
      title MetaLamp Frontend
  body
    main(class = "index__main")
      section
        ul(class = "index__pages")
          -
            const pageNames = { 
              'colors-types':'Colors & Type',
              'form-elements':'Form Elements',
              'cards':'Cards', 
              'headers-footers':'Headers & Footers',
              'landing-page':'Landing page',
              'search-room-page':'Search room',
              'room-details-page':'Room details',
              'registration-page':'Registration',
              'sign-in-page':'Sign in',
              }
          each value, key in pageNames
              li(class = "index__page")
                a(class = "index__link" href=`${key}.html`)= value