mixin feature(options={})
  -
    let elementName = 'feature'
  div(class = elementName)
    image(class=elementName+'__image' src = options.image alt = options.alt)
    p(class = elementName + '__name')= options.name
    p(class = elementName + '__description')= options.description





