mixin feature(options = {})
  -

    const { 
      imagePath = require('@/shared/images/logo-purple.svg'),
      name = '',
      description = '',
      alt = '',
    } = options

    const elementName = 'feature'

  div(class = elementName)
    img(class = `${elementName}__image` src = imagePath alt = alt)
    span(class = `${elementName}__name`)= name
    span(class = `${elementName}__description`)= description





