mixin feature(options = {})
  -

    const { 
      imageName = require('@/shared/images/logo-purple.svg'),
      name = '',
      description = '',
      alt = ''} = options

    const prepareOptions = require ('@com/feature/feature-utils.js').default;

    const { elementName, imagePathChecked} = prepareOptions({imageName});

  div(class = elementName)
    img(class = `${elementName}__image` src = imagePathChecked alt = alt)
    p(class = `${elementName}__name`)= name
    p(class = `${elementName}__description`)= description





