mixin feature(options = {})
  -

    let {imageName = require('@com/feature/image/default.svg')} = options
    const { name = '',
      description = '',
      alt = ''} = options
    const elementName = 'feature'

    function isImage(path){
      const result = /^assets\/images\//.test(path)
      return result ? path : require('@com/feature/image/default.svg')
      }

    imageName = isImage(imageName)

  div(class = elementName)
    image(class = `${elementName}__image` src = imageName alt = alt)
    p(class = `${elementName}__name`)= name
    p(class = `${elementName}__description`)= description





