.radiobuttons {
  padding-left: 0;
  margin-left: 0;
  user-select: none;
  max-width: 220px;
  width: 100%;

  &__label {
    @include font-h3;
    position: relative;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__category {
    display: inline-flex;
    position: relative;

    &-text {
      margin-left: 9px;
    }

    &-checkbox {
      position: absolute;
      left: 7px;
      top: 9px;
      width: 5px;
      height: 1px;
      outline-offset: 12px;

      &:checked + .radiobuttons__category-radiomark {
        border: 1px solid $colorMain;
        box-shadow: inset 0px 0px 0px 3.5px $colorTextBackground;
        background: linear-gradient(180deg, $colorMain 0%, #8ba4f9 100%);
      }
    }

    &-radiomark {
      cursor: pointer;
      display: inline-block;
      position: relative;
      border: 1px solid $colorBorder;
      width: 18.5px;
      height: 18px;
      border-radius: 50%;
      content: "";
      background-color: $colorTextBackground;
    }

    &-name {
      cursor: pointer;
      @include font-body;
      line-height: 19px;
      padding-left: 10px;
    }
  }
}
