.radiobuttons {
  @include fieldset-reset-style;
  padding-left: 0;
  margin-left: 0;
  user-select: none;
  width: 100%;

  &__label {
    @include font-h3;
    margin: 0;
    position: relative;
  }

  &__list {
    @include ul-reset-style;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

  &__category {
    @include font-body;
    color: $colorTextNormal;
    display: flex;
    align-items: center;
    position: relative;

    &-checkbox {
      position: absolute;
      left: 7px;
      top: 9px;
      width: 5px;
      height: 1px;
      outline-offset: 12px;
    }

    &-checkbox:checked + &-radiomark {
      border: 1px solid $colorMain;
      box-shadow: inset 0px 0px 0px 3.5px $colorTextBackground;
      background: linear-gradient(180deg, $colorMain 0%, #8ba4f9 100%);
    }

    &-radiomark {
      cursor: pointer;
      display: block;
      position: relative;
      border: 1px solid $colorBorder;
      width: 20.5px;
      height: 20px;
      border-radius: 50%;
      content: "";
      background-color: $colorTextBackground;
    }

    &-name {
      @include font-body;
      margin: 0;
      cursor: pointer;
      line-height: 15px;
      padding-left: 9px;
      flex-shrink: 10;
      color: $colorText;
    }

    &-checkbox:checked ~ &-name {
      color: $colorTextNormal;
    }
  }
}
