include ../components/logo/logo.pug
include ../components/search-room/search-room.pug
include ../components/registration/registration.pug
include ../components/booking/booking.pug
include ../components/login/login.pug
include ../components/room-card/room-card.pug
div(class="cards")
	div(class='cards__search-col cards__search-col-left')
		div(class='cards__logo-wrapper')
			+logo-grey()
		div(class='cards__search-room')
			+search-room()
		div(class='cards__registration')
			+registration()
	div(class='cards__search-col cards__search-col-right')
		div(class='cards__booking')
			+booking({
							roomNumber: '888',
							isLux: 'люкс',
							roomPrice: '9 990',
							daysAmount: '4',
							totalPrice: '39 960',
							sale: '2 179',
							saleTotal: '0',
							extraTotal: '300',
							totalAmount: '38 081'})
