include ../components/logo/logo.pug
include ../components/search-room/search-room.pug
include ../components/registration/registration.pug
include ../components/booking/booking.pug
include ../components/login/login.pug
include ../components/room-card/room-card.pug
div(class='logo-wrapper')
	+logo-grey()
div(class="cards")
