include ../components/logo/logo.pug
include ../components/search-room/search-room.pug
include ../components/registration/registration.pug
include ../components/booking/booking.pug
include ../components/login/login.pug
include ../components/room-card/room-card.pug
div(class="cards")
	div(class='cards__search-col cards__search-col-left')
		div(class='cards__logo-wrapper')
			+logo-grey()
		div(class='cards__search-room')
			+search-room()
