include ../components/logo/logo.pug
include ../components/date-dropdown/date-dropdown.pug
include ../components/input-field/input-field.pug
include ../components/dropdown/dropdown.pug
div(class="formElements__wrapper")
	+logo-grey()
	div(class="formElements__col formElements__col-left")
		+input(
					{elemName: "inputField",
					width: "wide",
					placeholder: "Email",
					classList:" inputField-1",
					labelText: "text field"} 
					)
		+input(
					{elemName: "inputField",
					width: "wide",
					placeholder: "Email",
					classList:" inputField-2",
					labelText: "text field"} 
					)
		+dropdown(
					{elemName: "dropDownGuests",
					categories:
						{cat1: {displayName: 'взрослые', type: 'гость', defaultCnt: 1, minCnt: 1, maxCnt: 99}, 
						cat2: {displayName: 'дети', type: 'гость', defaultCnt: 0, minCnt: 0, maxCnt: 99}, 
						cat3: {displayName: 'младенцы', type: 'младенец', defaultCnt: 0, minCnt: 0, maxCnt: 99}}, 
					type: "dropDownGuests",
					placeholder: "Сколько гостей",
					buttons: true,
					labelText: "dropdown"}
					)
		+input(
					{elemName: "inputField",
					width: "wide",
					placeholder: "ДД.ММ.ГГГГ",
					classList:" inputField-4 js-masked",
					labelText: "masked text field"}
					)
		+date-dropdown(
					{width:"wide",
					elemName: "dateDropDown",
					type:"dateDropDown",
					labelTextFrom: "date dropdown",
					labelTextTo: "date dropdown"}
					)
		+date-dropdown(
					{width:"narrow",
					elemName: "filterDateDropDown",
					type: "filterDateDropDown",
					labelTextFromTo: "filter date dropdown"}
					)
		+input(
					{elemName: "inputField",
					width: "medium",
					placeholder: "Email",
					classList:" inputField-5 js-check-email",
					labelText: "subscription text field",
					img: true}
					)
		+dropdown(
					{elemName: "dropDownRooms",
					categories:
						{cat1: {displayName: 'спальни', type: 'спальня', defaultCnt: 2, minCnt: 0, maxCnt: 5}, 
						cat2: {displayName: 'кровати', type: 'кровать', defaultCnt: 2, minCnt: 1, maxCnt: 10}, 
						cat3: {displayName: 'ванные комнаты', type: 'ванная комната', defaultCnt: 1, minCnt: 0, maxCnt: 3}}, 
					type: "dropDownRooms",
					placeholder: "Сколько комнат",
					labelText: "dropdown",}
					)
