include ../components/logo/logo.pug
include ../components/date-dropdown/date-dropdown.pug
include ../components/input-field/input-field.pug
include ../components/dropdown/dropdown.pug
div(class="formElements__wrapper")
	+logo-grey()
	div(class="formElements__col formElements__col-left")
		+input("inputField", "text field", " inputField-1 inputBase inputWide inputRounded", "Email", )
		+input("inputField", "text field", " inputField-2 inputBase inputWide inputRounded", "Email", )
		+dropdown("dropDownGuests", {cat1: {diasplayName: 'взрослые', type: 'гость', defaultCnt: 1, minCnt: 1, maxCnt: 99}, cat2: {diasplayName: 'дети', type: 'гость', defaultCnt: 0, minCnt: 0, maxCnt: 99}, cat3: {diasplayName: 'младенцы', type: 'младенец', defaultCnt: 0, minCnt: 0, maxCnt: 99}})
		+input("inputField", "masked text field", " inputField-4 inputMasked inputBase inputWide inputRounded", "ДД.ММ.ГГГГ",)
		+date-dropdown("dateDropDown")
		+date-dropdown("filterDateDropDown")
		+input("inputField", "subscription text field", " inputField-5 inputSubscribe inputBase inputMedium inputRounded", "Email", true, )

