include ../components/logo/logo.pug
include ../components/date-dropdown/date-dropdown.pug
include ../components/input-field/input-field.pug
include ../components/dropdown/dropdown.pug
include ../components/checklist/checklist.pug
include ../components/radiobuttons/radiobuttons.pug
include ../components/toggle/toggle.pug
include ../components/like-button/like-button.pug
include ../components/rate-button/rate-button.pug
include ../components/range-slider/range-slider.pug
include ../components/btn/btn.pug
include ../components/feature/feature.pug
include ../components/feedback/feedback.pug
include ../components/bullet-list/bullet-list.pug
div(class="form-elements")
	+logo-grey()
	div(class="form-elements__col form-elements__col_left form-elements__col_left-top")
		div(class="form-elements__comp-wrapper")
			+input(
						{width: 'wide',
						placeholder: 'Email',
						labelText: 'text field'} 
						)
		div(class="form-elements__comp-wrapper")
			+date-dropdown(
						{width:'narrow',
						type: 'filterDateDropDown',
						labelTextFromTo: 'filter date dropdown'}
				)
		div(class="form-elements__comp-wrapper")
			+dropdown(
						{categories:
							{cat1: {displayName: 'взрослые', type: 'гость', typeforms: 'гость,гостя,гостей',  defaultCnt: 0, minCnt: 0, maxCnt: 99}, 
							cat2: {displayName: 'дети', type: 'гость', typeforms: 'гость,гостя,гостей', defaultCnt: 0, minCnt: 0, maxCnt: 99}, 
							cat3: {displayName: 'младенцы', type: 'младенец', typeforms: 'младенец,младенца,младенцев', defaultCnt: 0, minCnt: 0, maxCnt: 99}}, 
						type: 'dropDownGuests',
						placeholder: 'Сколько гостей',
						buttons: true,
						labelText: 'dropdown'}
						)
		div(class="form-elements__comp-wrapper")
			+input(
						{width: 'wide',
						placeholder: 'ДД.ММ.ГГГГ',
						extra:' js-masked',
						labelText: 'masked text field'}
						)
		div(class="form-elements__comp-wrapper")
			+date-dropdown(
						{width:'wide',
						type:'dateDropDown',
						labelTextFrom: 'date dropdown',
						labelTextTo: 'date dropdown'}
						)
		div(class="form-elements__comp-wrapper")
			+date-dropdown(
						{width:'narrow',
						type: 'filterDateDropDown',
						labelTextFromTo: 'filter date dropdown'}
						)
		div(class="form-elements__comp-wrapper")
			+input(
						{width: 'medium',
						placeholder: 'Email',
						extra:' js-check-email',
						labelText: 'subscription text field',
						img: true}
						)
		div(class="form-elements__comp-wrapper")
			+dropdown(
						{categories:
							{cat1: {displayName: 'спальни', type: 'спальня', typeforms: 'спальня,спальни,спален', defaultCnt: 0, minCnt: 0, maxCnt: 5}, 
							cat2: {displayName: 'кровати', type: 'кровать', typeforms: 'кровать,кровати,кроватей', defaultCnt: 0, minCnt: 0, maxCnt: 10}, 
							cat3: {displayName: 'ванные комнаты', type: 'ванная комната', typeforms: 'ванная комната,ванные комнаты,ванных комнат', defaultCnt: 0, minCnt: 0, maxCnt: 3}}, 
						type: 'dropDownRooms',
						placeholder: 'Сколько комнат',
						labelText: 'dropdown',}
						)
		div(class="form-elements__comp-wrapper")
			+checklist(
						{categories:
							{cat1: {name:'Завтрак'}, 
							cat2:{name:'Письменный стол'}, 
							cat3:{name:'Стул для кормления'}, 
							cat4:{name:'Кроватка'}, 
							cat5:{name:'Телевизор'}, 
							cat6:{name:'Шампунь'},},
						type: 'expandable', 
						labelText: 'expandable checkbox list',}
						)
		div(class="form-elements__comp-wrapper")
			+checklist(
						{categories:
							{cat1: {name:'Завтрак'}, 
							cat2:{name:'Письменный стол'}, 
							cat3:{name:'Стул для кормления'}, 
							cat4:{name:'Кроватка'}, 
							cat5:{name:'Телевизор'}, 
							cat6:{name:'Шампунь'},},
						type: 'expandable', 
						labelText: 'expandable checkbox list',
						checkListName: 'expandable checkbox list'}
						)
	div(class="form-elements__col form-elements__col_center form-elements__col_center-top")
		div(class="form-elements__comp-wrapper")
			+checklist(
						{categories:
							{cat1: {name:'Можно курить'}, 
							cat2:{name:'Можно с питомцами'}, 
							cat3:{name:'Можно пригласить гостей (до 10 человек)'}},
							type: 'nonExpandable', 
						labelText: 'checkbox buttons',
						checkListName: 'checkbox buttons'}
						)
		div(class="form-elements__comp-wrapper")
			+radiobuttons({categories:
							{cat1: {name:'Мужчина', checked: true}, 
							cat2:{name:'Женщина'}},
							labelText: 'radio buttons',
							radioGroupName: 'gender'})
		div(class="form-elements__comp-wrapper")
			+toggle(
						{labelText: 'toggle',
						name: 'Получать спецпредложения'}
						)
		div(class="form-elements__comp-wrapper")
			+like-button(
						{labelText: 'like button',
						})
		div(class="form-elements__comp-wrapper")
			+rate-button(
						{labelText: 'rate button',
						})
		div(class="form-elements__comp-wrapper")
			+dropdown(
						{categories:
							{cat1: {displayName: 'взрослые', type: 'гость', typeforms: 'гость,гостя,гостей',  defaultCnt: 0, minCnt: 0, maxCnt: 99}, 
							cat2: {displayName: 'дети', type: 'гость', typeforms: 'гость,гостя,гостей', defaultCnt: 0, minCnt: 0, maxCnt: 99}, 
							cat3: {displayName: 'младенцы', type: 'младенец', typeforms: 'младенец,младенца,младенцев', defaultCnt: 0, minCnt: 0, maxCnt: 99}}, 
						type: 'dropDownGuests',
						placeholder: 'Сколько гостей',
						buttons: true,
						labelText: 'dropdown'}
						)
		div(class="form-elements__comp-wrapper")
			+checklist(
						{categories:
							{cat1: {name:'Широкий коридор', descr: 'Ширина коридоров в номере не менее 91 см'}, 
							cat2:{name:'Помощник для инвалидов', descr: 'На 1 этаже вас встретит специалист и проводит до номера'}},
							type: 'rich', 
						labelText: 'rich checkbox buttons',
						checkListName: 'rich checkbox buttons'}
						)
	div(class="form-elements__col form-elements__col_right form-elements__col_right-top")
		div(class="form-elements__comp-wrapper")
			+range-slider(
						{labelText: 'range slider',
						type: 'double', 
						min:1000, 
						max:15000, 
						step:1, 
						from:5000, 
						to:10000, 
						isMinMaxHidden:'true', 
						isFromToHidden:'true'}
						)
		span(class='form-elements__label') buttons
		div(class="form-elements__comp-wrapper")
			+btn(
						{text: 'click me',
						type: 'link',
						length: 'short',
						width: 'wide',
						color: 'dark'}
						)
		div(class="form-elements__comp-wrapper")
			+btn(
						{text: 'click me',
						type: 'link',
						length: 'short',
						width: 'wide',
						color: 'light'}
						)
		div(class="form-elements__comp-wrapper")
			+btn(
						{text: 'click me',
						type: 'plain-text'}
						)
		div(class="form-elements__comp-wrapper")
			+btn(
						{text: 'перейти к оплате',
						type: 'submit',
						length: 'very-long',
						width: 'wide',
						color: 'dark',
						img: true}
						)
		div(class="form-elements__comp-wrapper")
			+btn(
						{text: 'click me',
						type: 'link',
						length: 'long',
						width: 'narrow',
						color: 'dark'}
						)
		div(class="form-elements__comp-wrapper")
			+btn(
						{text: 'click me',
						type: 'link',
						length: 'very-short',
						width: 'narrow',
						color: 'light'}
						)
		div(class="form-elements__comp-wrapper")
			+bullet-list(
						{labelText: 'bullet list', 
						categories: ['Нельзя с питомцами',
										'Без вечеринок и мероприятий',
										'Время прибытия — после 13:00, а выезд до 12:00']}
						)
div(class="form-elements")
	div(class="form-elements__col form-elements__col_left form-elements__col_left-bottom")
		div(class="form-elements__comp-wrapper")
			+feature(
						{img: 'assets/img/interface/smile.svg',
						name: 'Комфорт',
						descr: 'Шумопоглощающие стены'}
						)
		div(class="form-elements__comp-wrapper")
			+feature(
						{img: 'assets/img/interface/city.svg',
						name: 'Удобство',
						descr: 'Окно в каждой из спален'}
						)
	div(class="form-elements__col form-elements__col_right form-elements__col_right-bottom")
		div(class="form-elements__comp-wrapper")
			+feedback(
						{img: 'assets/img/interface/murad.jpg',
						name: 'Мурад Сарафанов',
						date: '5 дней назад',
						descr: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'}
						)