include ../components/logo/logo.pug
include ../components/header/header.pug
div(class="headers-footers")
	div(class='headers-footers__logo-wrapper')
		+logo-grey()
	div(class='headers-footers__header')
		+header()