include ../components/logo/logo.pug
include ../components/date-dropdown/date-dropdown.pug
include ../components/input-field/input-field.pug
include ../components/dropdown/dropdown.pug
include ../components/checklist/checklist.pug
include ../components/radiobuttons/radiobuttons.pug
include ../components/toggle/toggle.pug
include ../components/like-button/like-button.pug
include ../components/rate-button/rate-button.pug
include ../components/range-slider/range-slider.pug
include ../components/btn/btn.pug
include ../components/feature/feature.pug
include ../components/feedback/feedback.pug
include ../components/bullet-list/bullet-list.pug
include ../components/pagination/pagination.pug
div(class='logo-wrapper')
	+logo-grey()