doctype html
html(lang="ru")
	include ../components/head/head.pug
	body
		div(class="wrapper")
			include ../components/header/header.pug
			.wrapper__content
				main
					section(id = "root")
						a(href='formElements.html') formElements
						br
						a(href='headersFooters.html') headersFooters

		include ../components/footer/footer.pug