doctype html
html(lang="ru")
	body
		div(class="wrapper")
			include ../components/header/header.pug
			.wrapper__content
				main
					section(id = "root")
						a(href='colors-types.html') Colors & Type
						br
						a(href='form-elements.html') Form Elements
						br
						a(href='cards.html') Cards
						br
						a(href='headers-footers.html') Headers & Footers

		include ../components/footer/footer.pug