doctype html
html(lang="ru")
	body
		div(class="wrapper")
			include ../components/header/header.pug
			.wrapper__content
				main
					section(id = "root")
						a(href='colors-types.html') Colors & Type
						br
						a(href='form-elements.html') Form Elements
						br
						a(href='cards.html') Cards
						br
						a(href='headers-footers.html') Headers & Footers
						br
						a(href='landing-page.html') Landing page
						br
						a(href='search-room-page.html') Search room
						br
						a(href='room-details-page.html') Room details
						br
						a(href='registration-page.html') Registration
						br
						a(href='sign-in-page.html') Sign in
						br
						a(href='layout.html') Layout

		include ../components/footer/footer.pug