extends ./layout.pug
include ../components/search-room/search-room.pug
block title
	title Landing page
block background
	div(class = 'landing__background-wrapper')
		img(class = 'landing__background' alt = '' src = 'assets/img/interface/landing-page.jpg')
block content
	main(class = 'landing')
		div(class = 'landing__search-room')
			+search-room()