extends ./layout.pug
include ../components/search-room/search-room.pug
block title
	title Landing page
block content 
	main(class = 'landing')
		img(class = 'landing__background' src = 'assets/img/interface/landing-page.jpg')
		section(class = 'landing__search-room-wrapper')
			+search-room()
		p(class = 'landing__text') Лучшие номера для вашей работы, отдыха и просто вдохновения
