extends ./layout.pug
include ../components/search-room/search-room.pug
	-
		pageName = landing
block title
	title Landing page
block background 
	img(class = 'landing__background' alt = '' src = 'assets/img/interface/landing-page.jpg')
block main
	main(class = 'landing__main-wrapper')
		section(class = 'landing__search-room-wrapper')
			+search-room
