include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/head/head.pug
html
	head
		block title
			title Default Title
	body 
		block wrapper
			div(class = 'landing__background-wrapper')
				div(class = 'landing__header-wrapper')
					+header({authorized: false})
				div(class = 'landing__img-wrapper')
					img(class = 'landing__background' alt = '' src = 'assets/img/interface/landing-page.jpg')
				div(class = 'landing__footer-wrapper')
					+footer()
			
			

