include ../components/head/head.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
html
	head
		block title
			title Layout
	body
		div(class="headers-footers")
			div(class='headers-footers__header')
				+header({authorized: false})
			block content
			div(class='headers-footers__header')
				+footer()
		block test
