include ../components/header/header.pug
include ../components/footer/footer.pug
html
	head
		block title
			title Default Title
	body 
		block background
		block header
			div(class = 'header-wrapper')
				+header({authorized: false})
		block content
		block footer
			div(class = 'footer-wrapper')
				+footer()

