extends ./layout.pug
include ../components/chart/chart.pug
block title
	title Room details
block content 
	main(class = 'room-details-page')
		section(class = 'room-details-page__banner-wrapper')
			img(class = 'room-details-page__img-1' src = 'assets/img/interface/room-details-1.jpg')
			img(class = 'room-details-page__img-2' src = 'assets/img/interface/room-details-2.jpg')
			img(class = 'room-details-page__img-3' src = 'assets/img/interface/room-details-3.jpg')
		+chart()