extends ./layout.pug
include ../components/chart/chart.pug
block title
	title Room details
block content 
	main(class = 'room-details-page')
		section(class = 'room-details-page__room-details-wrapper')
			+chart()