extends ../layout/layout.pug

include ../../components/login/login.pug

block title
  title Sign-in
block content 
  main(class = 'sign-in-page')
    image(class = 'sign-in-page__background' alt = 'фоновое изображение - спальня' src = require('@pag/sign-in-page/image/bedroom.jpg'))
    section(class = 'sign-in-page__login-wrapper')
      +login()
block footer
  div(class = 'sign-in-page__footer')
    +footer({menu: footerLinks})
