.sign-in-page {
  @include page-background('@pag/sign-in-page/image/bedroom.jpg', -70px);
  flex-grow: 1;
  min-height: 701px;
  display: grid;
  align-items: center;

  &__login-wrapper {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down($xs) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
