extends ../layout/layout.pug

include ../../components/login/login.pug

block title
  title Sign-in
block content 
  main(class = "sign-in-page js-sign-in-page")
    section(class = "sign-in-page__login-wrapper js-sign-in-page__login")
      +login()
