.sign-in-page {
  position: relative;
  top: calc($headerHeight * -1);
  flex-grow: 1;
  @include media-breakpoint-down($sm) {
    top: 0;
    margin-bottom: 310px;
  }

  &__background {
    box-sizing: border-box;
    width: 100%;
    object-fit: cover;

    @include media-breakpoint-down($sm) {
      display: none;
    }
  }
  &__login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: calc($headerHeight + 22.5%);
    @include media-breakpoint-down($sm) {
      top: 20px;
    }
  }
  &__footer {
    padding-top: 30px;
  }
}
