.sign-in-page {
  @include page-background('@pag/sign-in-page/image/bedroom.jpg');
  flex-grow: 1;
  min-height: 700px;
  display: grid;
  align-items: center;

    &__login-wrapper{
      display: flex;
      justify-content: center;
    }
}