include ../../components/logo/logo.pug
include ../../components/head/head.pug

doctype html
html(lang = 'ru')
  head
    +head()
    block title
      title Layout
  body(class = 'ui-kit-layout')
    header(class = 'ui-kit-layout__header')
      +logo()
    block content

