include ../../components/head/head.pug
include ../../components/logo/logo.pug
include ../../components/logo/logo.pug
html(lang = 'ru')
	head
		block title
			title UI-kit Layout
	body
		header(class = 'header-ui')
			+logo-grey()
		block content

