include ../../components/logo/logo.pug
include ../../components/head/head.pug

doctype html
html(lang = 'ru')
  head
    +head()
    block title
      title Layout
  body(class = "ui-kit-layout")
    div(class = "ui-kit-layout__logo")
      block logo
    block content

