include ../../components/head/head.pug
include ../../components/logo/logo.pug
include ../../components/logo/logo.pug
doctype html
html(lang = 'ru')
  block head
    block title
      title UI-kit Layout
  body
    header(class = 'header-ui')
      +logo-grey()
    block content

