$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;

@mixin font-body() {
	font-family: "Montserrat-Regular";
	font-size: 14px;
	line-height: 24px;
	color: $colorDarkShade75;
}

.header {
	height: 70px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	background-color: $colorWhite;
	&__wrapper {
		max-width: 1161px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	&__nav {
		&-level1 {
			display: flex;
			flex-grow: 1;

			&-items {
				margin-left: auto;
				display: flex;
				align-items: center;
			}
			&-item {
				position: relative;
				white-space: nowrap;
				padding-right: 24px;
				&-img {
					cursor: pointer;
					padding-left: 3px;
				}
				&-link {
					@include font-body;
					&:hover,
					&:focus {
						cursor: pointer;
						font-weight: bold;
					}
				}
			}
		}
		&-level2 {
			position: absolute;
			background-color: $colorWhite;
			display: none;
			&-item {
				&-link {
					@include font-body;
					&:hover,
					&:focus {
						cursor: pointer;
						font-weight: bold;
					}
				}
			}
		}
	}
	&__auth {
		display: flex;
	}
	&__button-reg,
	&__button-login {
		margin-top: 3px;
	}

	&__button-reg {
		padding-left: 20px;
	}

	&__profile {
		align-self: center;

		line-height: 30px;
		&-name {
			@include font-body;
			padding-left: 20px;
			white-space: nowrap;
			&:hover,
			&:focus {
				font-weight: bold;
			}
		}
	}
	&__burger-btn {
		display: none;
		cursor: pointer;
	}
}

.expanded {
	display: block;
}

@media screen and (max-width: 1199px) {
	.header {
		margin: 0;
		padding-left: 20px;

		&__auth {
			margin-right: 20px;
		}
	}
}

@media screen and (max-width: 991px) {
	.header {
		position: relative;
		height: 80px;
		&__wrapper {
			width: auto;
			z-index: 5;
			display: flex;
			flex-direction: column;
			align-items: center;

			background-color: $colorWhite;
		}

		&__nav-level1 {
			display: none;
			position: absolute;
			background-color: $colorWhite;
			left: 0;
			top: 70px;

			&-items {
				display: block;
			}
			&-item {
				margin-top: 20px;
				&-img {
					transform: rotate(-90deg);
				}
			}
			&.header__nav-level1-active {
				display: block;
			}
		}
		&__logo {
			top: -55px;
			left: 50%;
		}

		&__auth {
			top: 0;
			left: 50%;
			margin-left: 20px;
		}
		&__profile {
			border: none;
			&-name {
				padding: 0;
			}
		}

		&__burger-btn {
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			z-index: 3;
			left: 10px;
		}
		&__burger-btn &__burger {
			position: absolute;
			background-color: $colorPurple;
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			transition: all 0.9s ease 0s;
		}
		&__burger-btn:before,
		&__burger-btn:after {
			content: "";
			background-color: $colorPurple;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.5s ease 0s;
		}
		&__burger-btn:before {
			top: 0;
			background-color: $colorPurple;
		}
		&__burger-btn:after {
			bottom: 0;
			background-color: $colorPurple;
		}
		&__burger-btn.active:before {
			transform: rotate(45deg);
			top: 9px;
		}
		&__burger-btn.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		&__burger-btn.active &__burger {
			transform: scale(0);
		}
	}
}
