$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;

@mixin font-body() {
	font-family: "Montserrat-Regular";
	font-size: 14px;
	line-height: 24px;
	color: $colorDarkShade75;
}

.header {
	width: 100%;
	height: 70px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	background-color: $colorWhite;
	&__wrapper {
		max-width: 1161px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	&__logo {
	}
	&__nav {
		&-level1 {
			border: 1px solid red;
			display: flex;
			//	align-items: flex-start;
			flex-grow: 1;

			&-items {
				margin-left: auto;
				display: flex;
				align-items: center;
			}
			&-item {
				position: relative;
				//	padding-top: 0;
				border: 1px solid blue;
				white-space: nowrap;
				padding-right: 24px;
				&-img {
					cursor: pointer;
					padding-left: 3px;
					border: 1px solid green;
				}
				&-link {
					border: 1px solid orange;
					@include font-body;
					&:hover,
					&:focus {
						cursor: pointer;
						font-weight: bold;
					}
				}
			}
		}
		&-level2 {
			border: 1px solid purple;
			position: absolute;
			display: none;
			&-item {
				border: 1px solid orangered;
				&-link {
					border: 1px solid brown;
					@include font-body;
					&:hover,
					&:focus {
						cursor: pointer;
						font-weight: bold;
					}
				}
			}
		}
	}
	&__auth {
		display: flex;
	}
	&__button-reg,
	&__button-login {
		margin-top: 3px;
	}

	&__button-reg {
		padding-left: 20px;
	}

	&__profile {
		align-self: center;

		line-height: 30px;
		border-left: 1px solid rgba(31, 32, 65, 0.1);
		&-name {
			@include font-body;
			padding-left: 20px;
		}
	}
	&__burger {
		display: none;
		cursor: pointer;
	}
}

.expanded {
	display: block;
}
// .collapsed {
// 	display: none;
// }

@media screen and (max-width: 991px) {
	.header {
		position: relative;
		&__wrapper {
			position: absolute;
			z-index: 5;
			top: 70px;

			display: block;
			background-color: $colorWhite;
		}

		&__nav-level1 {
			display: none;

			&-items {
				display: block;
			}
			&-item {
				margin-top: 20px;
				&-img {
					transform: rotate(-90deg);
				}
			}
			&.active-nav {
				display: block;
			}
		}
		&__logo {
			display: none;
		}

		&__auth {
			position: absolute;
			top: -55px;
			left: 35px;
		}
	}

	.header__burger {
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		z-index: 3;
		left: 10px;
	}
	.header__burger span {
		position: absolute;
		background-color: $colorPurple;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.9s ease 0s;
	}
	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: $colorPurple;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.5s ease 0s;
	}
	.header__burger:before {
		top: 0;
		background-color: $colorPurple;
	}
	.header__burger:after {
		bottom: 0;
		background-color: $colorPurple;
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span {
		transform: scale(0);
	}
}
