include ../btn/btn.pug
mixin header(options={})
	-
		let elemName = 'header'
	div(class = elemName)
		button(class = elemName + '__burger-btn')
			span(class = elemName + '__burger')
		div(class = elemName + '__wrapper')
			a(class = elemName + '__logo' href = 'https://test/test')
				img(class = elemName + '__logo-img' src = 'assets/img/interface/logo-purple.svg')
			nav(class = elemName + '__nav-level1') 
				ul(class = elemName + '__nav-level1-items')
					li(class = elemName + '__nav-level1-item') 
						a(class = elemName + '__nav-level1-item-link' href = 'https://test/test') О нас
					li(class = elemName + '__nav-level1-item')
						a(class = elemName + '__nav-level1-item-link' href = 'https://test/test') Услуги
							img(class = elemName + '__nav-level1-item-img' src = 'assets/img/interface/expand-more.svg')
						ul(class = elemName + '__nav-level2')
							li(class = elemName + '__nav-level2-item') 
								a(class = elemName + '__nav-level2-item-link' href = 'https://test/test') Ссылка
							li(class = elemName + '__nav-level2-item') 
								a(class = elemName + '__nav-level2-item-link' href = 'https://test/test') Ссылка
							li(class = elemName + '__nav-level2-item') 
								a(class = elemName + '__nav-level2-item-link' href = 'https://test/test') Ссылка
					li(class = elemName + '__nav-level1-item')
						a(class = elemName + '__nav-level1-item-link' href = 'https://test/test') Вакансии
					li(class = elemName + '__nav-level1-item')
						a(class = elemName + '__nav-level1-item-link' href = 'https://test/test') Новости
					li(class = elemName + '__nav-level1-item')
						a(class = elemName + '__nav-level1-item-link' href = 'https://test/test') Соглашения
							img(class = elemName + '__nav-level1-item-img' src = 'assets/img/interface/expand-more.svg')
						ul(class = elemName + '__nav-level2')
							li(class = elemName + '__nav-level2-item') 
								a(class = elemName + '__nav-level2-item-link' href = 'https://test/test') Ссылка
							li(class = elemName + '__nav-level2-item') 
								a(class = elemName + '__nav-level2-item-link' href = 'https://test/test') Ссылка
							li(class = elemName + '__nav-level2-item') 
								a(class = elemName + '__nav-level2-item-link' href = 'https://test/test') Ссылка
			div(class = elemName + '__auth') 
				if (options.authorized==false)
					div(class = elemName + '__button-login') 
						+btn(
										{text: 'войти',
										type: 'link',
										length: 'very-short',
										width: 'narrow',
										color: 'light',
										href: 'https://test/test'}
										)
					div(class = elemName + '__button-reg') 
						+btn(
										{text: 'зарегистрироваться',
										type: 'link',
										length: 'long',
										width: 'narrow',
										color: 'dark',
										href: 'https://test/test'}
										)
				if (options.authorized==true)
					div(class = elemName + '__profile') 
						a(class = elemName + '__profile-name' href = 'https://test/test')  Юлий Цезарь
			