extends ../ui-kit-layout/ui-kit-layout.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug

block title
  title Headers &amp; Footers
block body
  body(class = "ui-kit-layout ui-kit-layout_background_grey")
    div(class = "ui-kit-layout__logo")
      block logo 
        +logo({ backgroundColor: 'grey' })
  block content
    -
      const { header, footer } = require('@pag/headers-footers/headers-footers.json')

    main(class = "headers-footers js-headers-footers")
      div(class = "headers-footers__header js-headers-footers__header")
        +header(header)
      div(class = "headers-footers__header js-headers-footers__header")
        +header({
          ...header, 
          isAuthorized: true,
        })
      div(class = "headers-footers__footer")
        +footer(footer)
      div(class = "headers-footers__footer")
        +footer(footer)
