.headers-footers {
  flex-grow: 1;
  position: relative;
  padding-top: 141px;
  width: 100%;
  margin: 0 auto;
  background-color: $colorBackground;
  max-width: $xl;

  &__logo-wrapper {
    margin-top: 29px;
    margin-left: 51px;
  }

  &__header {
    position: relative;

    &:nth-of-type(2) {
      margin-top: 110px;
    }
  }

  &__footer {
    margin-top: 220px;
    padding-top: 30px;
  }
}
