extends ../ui-kit-layout/ui-kit-layout.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug

block title
  title Headers & Footers
block content
  -
    const {header, footer} = require('@pag/headers-footers/headers-footers.json')

  main(class="headers-footers")
    div(class='headers-footers__header')
      +header(header)
    div(class='headers-footers__header')
      +header({...header, isAuthorized: true})
    div(class='headers-footers__footer')
      +footer(footer)