extends ../ui-kit-layout/ui-kit-layout.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug

block title
  title Headers & Footers
block content
  -
    const {headerLinks, footerLinks} = require('@pag/headers-footers/headers-footers.json')

  main(class="headers-footers")
    div(class='headers-footers__header')
      +header({menu: headerLinks, isAuthorized: false})
    div(class='headers-footers__header')
      +header({menu: headerLinks, isAuthorized: true})
    div(class='headers-footers__footer')
      +footer({menu: footerLinks})