@mixin font-body() {
	font-family: "Montserrat-Regular";
	font-size: 14px;
	line-height: 24px;
	color: $colorDarkShade75;
}

@mixin font-h3() {
	font-family: "Montserrat-Bold";
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;

input {
	outline: none;
}

.input-field {
	user-select: none;
	&-wide {
		width: 320px;
	}
	&-medium {
		width: 266px;
	}
	//border: 1px solid red;
	display: flex;
	flex-direction: column;

	&__label {
		position: relative;
	}
	&__label-text {
		@include font-h3;
	}
	&__link {
		position: absolute;
		bottom: 13px;
		right: 21px;
		width: 16px;
		height: 19px;
		cursor: pointer;
		background-color: $colorWhite;
		border: none;
	}

	&__input {
		&::placeholder {
			color: $colorDarkShade25;
		}
		@include font-body;
		height: 44px;
		text-indent: 12px;
		border-radius: 5px;
		border: 1px solid $colorDarkShade25;
		margin-top: 4px;
		width: 100%;
		&:hover {
			border-color: $colorDarkShade50;
		}
		&:focus {
			border-color: $colorDarkShade50;
		}
	}
}
