.input-field {
  user-select: none;
  display: flex;
  flex-direction: column;

  &_width {
    &_wide {
      max-width: 320px;
      width: 100%;
    }

    &_medium {
      max-width: 266px;
      width: 100%;
    }

    &_medium-narrow {
      max-width: 260px;
      width: 100%;
    }
  }

  &__label {
    position: relative;

    &-text {
      @include font-h3;
      margin: 0;
    }
  }

  &__link {
    @include button-reset-style;
    position: absolute;
    bottom: 28px;
    right: 28px;
    cursor: pointer;

    &:focus {
      outline: solid 1px $colorBorder;
    }
    &::before {
      @include arrow-basis-style($colorMain);
      top: 5px;
      right: -12px;
    }
    &::after {
      @include arrow-tip-style($colorMain);
    }
  }

  &__input {
    @include font-body;
    padding: 11px 0;
    text-indent: 12px;
    border-radius: 5px;
    border: 1px solid $colorBorder;
    margin-top: 4px;
    width: 100%;
    outline: none;

    &::placeholder {
      color: $colorBorder;
    }

    &:hover {
      border-color: $colorTextLight;
    }

    &:focus {
      border-color: $colorTextLight;
    }

    &::-webkit-datetime-edit-fields-wrapper {
      font-family: $fontMain;
      color: $colorTextNormal;
      text-transform: uppercase;
    }

    &::-webkit-calendar-picker-indicator {
      -webkit-appearance: none;
      display: none;
    }

    &[type='date'] {
      text-indent: 6px;
    }
  }
}
