.color-card {
  margin-bottom: 20px;
  font-size: 19px;
  line-height: 28px;
  color: $colorTitle;
  display: grid;
  grid-template-rows: repeat(2, 35px);
  grid-template-columns: 70px 180px;
  grid-template-areas:
    "post-1 post-2"
    "post-1 post-3";
  column-gap: 40px;

  &__color {
    grid-area: post-1;
    border-radius: 6px;
    &_dark-shade {
      &-100 {
        background-color: $colorTitle;
      }

      &-75 {
        background-color: $colorTextNormal;
      }

      &-50 {
        background-color: $colorTextLight;
      }

      &-25 {
        background-color: $colorBorder;
      }

      &-5 {
        background-color: $colorBackground;
      }
    }

    &_purple {
      background-color: $colorMain;
    }

    &_green {
      background-color: $colorSecondary;
    }
  }

  &__name {
    max-width: 171px;
    width: 100%;
    padding-top: 8px;
    grid-area: post-2;
    font-family: $fontMain;
    font-weight: bold;
  }

  &__code {
    grid-area: post-3;
    font-family: $fontMain;
  }
}
