.feedback {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: minmax(56px, auto) auto;
  grid-template-areas:
    'post-1 post-2'
    'post-1 post-3'
    'post-4 post-5';

  &__image {
    border: 1px solid $colorTextBackground;
    box-shadow: 0px 0px 5px 0px rgba(31, 32, 65, 0.1);
    border-radius: 50%;
    grid-area: post-1;
  }

  &__name {
    grid-area: post-2;
    margin: 0;
    font-family: $fontMain;
    font-weight: bold;
    color: $colorTextNormal;
    font-size: 14px;
    padding-top: 4px;
  }

  &__date {
    @include font-body;
    color: $colorTextNormal;
    display: flex;
    align-items: center;
    line-height: 16px;
    margin: 0;
    grid-area: post-3;
    font-size: 14px;
  }

  &__like {
    @include font-body;
    color: $colorTextNormal;
    margin-top: 13px;
    margin-left: 3px;
    margin-right: 3px;
    grid-area: post-4;
    font-size: 14px;
  }

  &__description {
    @include font-body;
    color: $colorTextNormal;
    grid-area: post-5;
    margin-top: 12px;
    font-size: 14px;
  }
}
