include ../like-button/like-button.pug
mixin feedback(options={})
  -
    let elemName ='feedback'
  div(class = elemName)
    image(class=elemName+'__img' src = options.image alt = options.alt)
    p(class = elemName + '__name')= options.name
    p(class = elemName + '__date')= options.date
    div(class = elemName + '__like')
      +like-button()
    p(class = elemName + '__descr')= options.description




