include ../like-button/like-button.pug
mixin feedback(options={})
  -
    let elementName ='feedback'
  div(class = elementName)
    image(class=elementName+'__image' src = options.image alt = options.alt)
    p(class = elementName + '__name')= options.name
    p(class = elementName + '__date')= options.date
    div(class = elementName + '__like')
      +like-button()
    p(class = elementName + '__description')= options.description




