@mixin font-body() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: $colorDarkShade75;
}

@mixin font-h3() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;

.bullet-list {
	&__label {
		@include font-h3;
		margin-bottom: 14px;
	}
	&__list-wrapper {
		padding-left: 17px;
		max-width: 240px;
		list-style-image: url(/assets/img/interface/ellipse.svg);
	}
	&__cat {
		@include font-body;
		padding-left: 4px;
		margin-bottom: 10px;
		line-height: 24px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
}
