mixin bullet-list(options={})
	-
		let elemName = 'bullet-list'
	fieldset(class = elemName)
		p(class = elemName + '__label ')= options.labelText
		ul(class = elemName + '__list-wrapper' type = 'disc')
			each val in options.categories
				li(class = elemName + '__cat')= val





