mixin bullet-list(options={})
  -
    let elementName = 'bullet-list'
  fieldset(class = elementName)
    ul(class = elementName + '__list-wrapper' type = 'disc')
      each value in options.categories
        li(class = elementName + '__category')= value





