.footer {
  width: 100%;
  padding-top: 100px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  background-color: $color-text-background;

  &__wrapper {
    &-top {
      min-height: 272px;
      max-width: $wrapper-width;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      @include media-breakpoint-down($lg) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &-bottom {
      align-items: center;
      min-height: 71px;
      max-width: $wrapper-width;
      margin: 0 auto;
      padding: 0 4px;
      display: flex;
      justify-content: space-between;

      @include media-breakpoint-down($lg) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &-middle {
      height: 1px;
      background-color: $color-footer-delimiter;
    }
  }

  &__logo {
    margin-bottom: 14px;
  }

  &__items {
    @include ul-reset-style;
    padding-right: 5px;
    padding-left: 5px;

    &:not(:first-child) {
      margin-top: 5px;
    }

    &-link,
    &-header {
      @include font-body;
      font-weight: bold;
      color: $color-title;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }

    &:nth-child(1) {
      max-width: 270px;
    }

    &:last-child {
      @include font-h3;
      max-width: 270px;
      display: flex;
      flex-direction: column;
    }

    &:not(:first-child):not(:last-child) {
      width: calc((100% - (270px * 2)) / 3);
    }
    &:nth-child(2) {
      padding-left: 35px;
    }
    &:nth-child(3) {
      padding-left: 25px;
    }
    &:nth-child(4) {
      padding-left: 15px;
    }
  }

  &__item {
    text-transform: initial;
    padding-top: 20px;

    &-link {
      @include font-body;
      text-decoration: none;
      line-height: 17px;
      color: $color-text;
    }
  }

  &__long-text {
    @include font-body;
    color: $color-text-normal;
    cursor: initial;
    text-transform: initial;
    margin-top: 18px;
  }

  &__subscription {
    text-transform: lowercase;
    margin-top: 18px;
  }

  &__copyright {
    @include font-body;
    color: $color-text-normal;
  }

  &__social-link {
    text-decoration: none;
  }

  &__social-links {
    display: flex;
    justify-content: space-between;
    max-width: 114px;
    width: 100%;
    padding-top: 3px;
    padding-right: 2px;
  }
}
