include ../input-field/input-field.pug
mixin footer(options={})
	-
		let elemName = 'footer'
	footer(class = elemName role = 'contentinfo')
		div(class = elemName + '__wrapper-top')
			ul(class = elemName + '__items')
				a(class = elemName + '__logo' href = 'https://test/test')
						img(class = elemName + '__logo-img' src = 'assets/img/interface/logo-purple.svg' alt = 'на главную')
				li(class = elemName + '__item')
					p(class = elemName + '__long-text') Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
			ul(class = elemName + '__items') 
				a(class = elemName + '__items-link' href = 'https://test/test') навигация
				li(class = elemName + '__item')
					a(class = elemName + '__item-link' href = 'https://test/test') О нас
				li(class = elemName + '__item')
					a(class = elemName + '__item-link' href = 'https://test/test') Новости
				li(class = elemName + '__item')
					a(class = elemName + '__item-link' href = 'https://test/test') Служба поддержки
				li(class = elemName + '__item')
					a(class = elemName + '__item-link' href = 'https://test/test') Услуги
			ul(class = elemName + '__items') 
				a(class = elemName + '__items-link' href = 'https://test/test') о нас
				li(class = elemName + '__item')
					a(class = elemName + '__item-link' href = 'https://test/test') О сервисе
				li(class = elemName + '__item')
					a(class = elemName + '__item-link' href = 'https://test/test') Наша команда
				li(class = elemName + '__item')
					a(class = elemName + '__item-link' href = 'https://test/test') Вакансии
				li(class = elemName + '__item')
					a(class = elemName + '__item-link' href = 'https://test/test') Инвесторы
			ul(class = elemName + '__items')
				a(class = elemName + '__items-link' href = 'https://test/test') служба поддержки
				li(class = elemName + '__item')
					a(class = elemName + '__item-link' href = 'https://test/test') Соглашения
				li(class = elemName + '__item')
					a(class = elemName + '__item-link' href = 'https://test/test') Сообщества
				li(class = elemName + '__item')
					a(class = elemName + '__item-link' href = 'https://test/test') Связь с нами
			ul(class = elemName + '__items')
				a(class = elemName + '__items-link' href = 'https://test/test') подписка
				li(class = elemName + '__item')
					p(class = elemName + '__long-text') Получайте специальные предложения и новости сервиса
				li(class = elemName + '__item')
					+input(
						{width: 'medium-narrow',
						placeholder: 'Email',
						extra:' js-check-email',
						img: true}
						)
		div(class = elemName + '__wrapper-middle')
		div(class = elemName + '__wrapper-bottom')
			div(class = elemName + '__copyright')
				p(class = elemName + '__long-text') Copyright © 2018 Toxin отель. Все права защищены.
			div(class = elemName + '__social-links')
				a(class = elemName + '__social-link-twitter' href = 'https://test/test')
					img(class = elemName + '__social-link-twitter-img' src = 'assets/img/interface/twitter.svg' alt = 'twitter link')
				a(class = elemName + '__social-link-facebook' href = 'https://test/test')
					img(class = elemName + '__social-link-facebook-img' src = 'assets/img/interface/facebook.svg' alt = 'facebook link')
				a(class = elemName + '__social-link-instagram' href = 'https://test/test')
					img(class = elemName + '__social-link-instagram-img' src = 'assets/img/interface/instagram.svg' alt = 'instagram link')