.footer {
  width: 100%;
  padding: 100px 120px 0;
  margin: 0 auto;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  background-color: $colorTextBackground;

  @include media-breakpoint-down($lg) {
    padding: 100px 0 0;
  }

  &__wrapper {
    &-top {
      min-height: 272px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      @include media-breakpoint-down($lg) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @include media-breakpoint-down($md) {
        padding: 0;
        justify-content: center;
        min-height: 162px;
      }
    }

    &-bottom {
      align-items: center;
      min-height: 70px;
      max-width: 1161px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      @include media-breakpoint-down($lg) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @include media-breakpoint-down($md) {
        padding-top: 18px;
        flex-direction: column;
        justify-content: start;
        padding-bottom: 118px;
      }
    }

    &-middle {
      height: 1px;
      background-color: $colorFooterDelimiter;

      @include media-breakpoint-down($md) {
        display: none;
      }
    }
  }

  &__logo {
    text-decoration: none;
  }

  &__items {
    @include ul-reset-style;
    margin: 0 auto;

    @include media-breakpoint-down($md) {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    &-link,
    &-header {
      @include font-body;
        font-weight: bold;
      color: $colorTitle;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      white-space: nowrap;
    }
    &:not(:first-child) {

      @include media-breakpoint-down($md) {
        display: none;
      }
    }
    &:nth-child(1) {
      max-width: 270px;
    }

    &:last-child { max-width: 270px;
      @include media-breakpoint-down($lg) {
      }
    }
  }

  &__item {
    text-transform: initial;
    padding-top: 14px;
    white-space: nowrap;

    @include media-breakpoint-down($md) {
      display: none;
    }

    &-link {
      @include font-body;
      text-decoration: none;
      line-height: 17px;
      color: $colorTextLight;
    }
  }

  &__long-text {
    @include font-body;
    cursor: initial;
    white-space: initial;
    margin: 0;
  }

  &__social-link {
    text-decoration: none;
  }

  &__social-links {
    display: flex;
    justify-content: space-between;
    max-width: 114px;
    width: 100%;

    @include media-breakpoint-down($md) {
      padding-top: 25px;
    }
  }
}
