include ../input-field/input-field.pug
mixin footer(options={})
  -
    let elementName = 'footer'
  footer(class = elementName role = 'contentinfo')
    div(class = elementName + '__wrapper-top')
      ul(class = elementName + '__items')
        a(class = elementName + '__logo' href = 'https://test/test')
          image(class = elementName + '__logo-image' src = require('@com/footer/image/logo-purple.svg') alt = 'на главную')
        li(class = elementName + '__item')
          p(class = elementName + '__long-text') Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      ul(class = elementName + '__items') 
        lh(class = elementName + '__items-header') навигация
        li(class = elementName + '__item')
          a(class = elementName + '__item-link' href = 'https://test/test') О нас
        li(class = elementName + '__item')
          a(class = elementName + '__item-link' href = 'https://test/test') Новости
        li(class = elementName + '__item')
          a(class = elementName + '__item-link' href = 'https://test/test') Служба поддержки
        li(class = elementName + '__item')
          a(class = elementName + '__item-link' href = 'https://test/test') Услуги
      ul(class = elementName + '__items') 
        lh(class = elementName + '__items-header') о нас
        li(class = elementName + '__item')
          a(class = elementName + '__item-link' href = 'https://test/test') О сервисе
        li(class = elementName + '__item')
          a(class = elementName + '__item-link' href = 'https://test/test') Наша команда
        li(class = elementName + '__item')
          a(class = elementName + '__item-link' href = 'https://test/test') Вакансии
        li(class = elementName + '__item')
          a(class = elementName + '__item-link' href = 'https://test/test') Инвесторы
      ul(class = elementName + '__items')
        lh(class = elementName + '__items-header') служба поддержки
        li(class = elementName + '__item')
          a(class = elementName + '__item-link' href = 'https://test/test') Соглашения
        li(class = elementName + '__item')
          a(class = elementName + '__item-link' href = 'https://test/test') Сообщества
        li(class = elementName + '__item')
          a(class = elementName + '__item-link' href = 'https://test/test') Связь с нами
      ul(class = elementName + '__items')
        lh(class = elementName + '__items-header') подписка
        li(class = elementName + '__item')
          p(class = elementName + '__long-text') Получайте специальные предложения и новости сервиса
        li(class = elementName + '__item')
          +input(
            {width: 'medium-narrow',
            placeholder: 'Email',
            js:'js-check-email',
            image: true,
            name: 'оформить подписку'}
            )
    div(class = elementName + '__wrapper-middle')
    div(class = elementName + '__wrapper-bottom')
      div(class = elementName + '__copyright')
        p(class = elementName + '__long-text') Copyright © 2018 Toxin отель. Все права защищены.
      div(class = elementName + '__social-links')
        a(class = elementName + '__social-link-twitter' href = 'https://test/test')
          image(class = elementName + '__social-link-twitter-image' src = require('@com/footer/image/twitter.svg') alt = 'twitter link')
        a(class = elementName + '__social-link-facebook' href = 'https://test/test')
          image(class = elementName + '__social-link-facebook-image' src = require('@com/footer/image/facebook.svg') alt = 'facebook link')
        a(class = elementName + '__social-link-instagram' href = 'https://test/test')
          image(class = elementName + '__social-link-instagram-image' src = require('@com/footer/image/instagram.svg') alt = 'instagram link')