.input-email {
  user-select: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &__error-message {
    position: absolute;
    display: none;
    right: 30px;
    left: 30px;

    &_active {
      display: block;
    }
  }

  &_width {
    &_medium {
      max-width: 266px;
    }

    &_medium-narrow {
      max-width: 260px;
    }
  }

  &__label {
    position: relative;

    &-text {
      @include font-h3;
      margin: 0;
    }
  }

  &__link {
    @include button-reset-style;
    position: absolute;
    bottom: 22px;
    right: 24px;
    cursor: pointer;

    &:focus {
      outline: solid 2px black;
      outline-offset: 10px;
    }

    &::before {
      @include arrow-basis-style($color-main);
      top: 0;
      left: -7px;
    }

    &::after {
      @include arrow-tip-style($color-main);
      top: -5px;
      left: -6px;
    }
  }

  &__input {
    @include font-body;
    color: $color-text-normal;
    padding: 9px 0;
    text-indent: 14px;
    border-radius: 5px;
    border: 1px solid $color-border;
    margin-top: 4px;
    width: 100%;
    outline: none;

    &_error {
      outline: 1px solid $color-border-error;
    }

    &_with-arrow {
      padding-right: 40px;
    }

    &::placeholder {
      color: $color-border;
    }

    &:hover {
      border-color: $color-text-light;
    }

    &:focus {
      border-color: $color-text-light;
    }
  }
}
