@mixin font-body() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: $colorDarkShade75;
}

@mixin font-h3() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorBlue: #8ba4f9;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;
$colorLightBlue: #66d2ea;
$gradientPurple: linear-gradient($colorPurple 0%, $colorBlue 100%);
$gradientGreen: linear-gradient($colorGreen 0%, $colorLightBlue 100%);

.login {
	background-color: $colorWhite;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	max-width: 380px;
	padding-left: 28px;
	padding-right: 28px;
	padding-top: 39px;
	&__header {
		max-width: 300px;
		@include font-h1;
	}
	&__credentials {
		margin-top: 16px;
	}
	&__email {
		margin-top: 1px;
	}
	&__password {
		margin-top: 6px;
	}
	&__login-btn {
		margin-top: 20px;
	}
	&__go-to-reg {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 30px;
		&-legend {
			@include font-body;
		}
	}
}
