.login {
  background-color: $colorTextBackground;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 30px;
  max-width: 380px;
  width: 100%;
  position: relative;

  &__message{
    @include font-body;
    color: $colorBorderError;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
  
    &_active{
      display: inline;
    }
  }

  &__login-form {
    margin-block-end: 0;
  }

  &__header {
    @include font-h1;
    margin: 10px 0 0;
  }

  &__credentials {
    @include fieldset-reset-style;
    margin-top: 17px;
  }

  &__password {
    margin-top: 5px;
  }

  &__login-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  &__go-to-registration {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-legend {
      @include font-body;
      margin: 0;
    }
  }

  &__create{
    flex-shrink: 1;
  }

  &_error {
    outline: 1px solid $colorBorderError;
  }
}
