include ../input-field/input-field.pug
include ../button/button.pug
mixin login(options={})
  -
    let elemName = 'login'
  div(class = elemName + ' js-' + elemName)
    form(class = elemName + '__login-form' + ' js-' + elemName + '__login-form')
      h1(class = elemName + '__header') Войти
      fieldset(class = elemName + '__credentials') 
        div(class = elemName + '__email')
          +input(
            {width: 'wide',
            placeholder: 'Email',
            js:'js-check-email'}
            )
        div(class = elemName + '__password')
          +input(
            {width: 'wide',
            placeholder: 'Пароль',
            type: 'password'} 
            )
      div(class = elemName + '__login-btn')
        +btn(
          {text: 'войти',
          type: 'submit',
          length: 'very-long',
          width: 'wide',
          color: 'dark',
          image: true}
          )
    div(class = elemName + '__go-to-reg' role='region' aria-label = 'Нет аккаунта на Toxin')
      p(class = elemName + '__go-to-reg-legend') Нет аккаунта на Toxin?
      +btn(
        {text: 'создать',
        type: 'link',
        length: 'short',
        width: 'wide',
        color: 'light',
        href: 'https://test/test'}
        )
