.login {
  background-color: $colorTextBackground;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 30px 30px 30px 28px;
  max-width: $formWidth;
  width: 100%;
  position: relative;

  @include media-breakpoint-down($xs) {
    padding: 30px 10px;
  }

  &__error-message {
    position: absolute;
    display: none;
    top: 30px;
    right: 30px;
    left: 30px;

    &_active {
      display: block;
    }
  }

  &__login-form {
    margin-block-end: 0;
  }

  &__header {
    @include font-h1;
    margin: 11px 0 0;
  }

  &__credentials {
    @include fieldset-reset-style;
    margin-top: 16px;
  }

  &__password {
    margin-top: 6px;
  }

  &__login-button {
    margin-top: 19px;
    display: flex;
    justify-content: center;
  }

  &__go-to-registration {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-legend {
      @include font-body;
      margin: 0;
      color: $colorTitle;
    }
  }

  &__create {
    flex-shrink: 1;
  }

  &_error {
    outline: 1px solid $colorBorderError;
  }
}
