.toggle {
  @include font-h3;
  user-select: none;
  display: flex;
  align-items: center;
  position: relative;

  &__label-text {
    margin: 0;
  }

  &__checkmark {
    border: 1px solid $colorBorder;
  }

  &__ball {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    position: absolute;
    background-color: $colorBorder;
  }

  &__checkbox {
    position: absolute;
    left: 7px;
    top: 9px;
    width: 25px;
    height: 1px;
    outline-offset: 12px;
  }

  &__checkmark {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border: 1px solid $colorBorder;
    width: 40px;
    height: 20px;
    border-radius: 22px;
    background-color: $colorTextBackground;
  }

  &__checkbox:checked + &__checkmark {
    border: 1px solid $colorMain;
  }

  &__checkbox:checked + &__checkmark &__ball {
    background-image: $gradientMain;
    right: 3px;
    left: auto;
  }

  &__name {
    @include font-body;
    color: $colorTextNormal;
    margin: 0;
    cursor: pointer;
    line-height: 19px;
    padding-left: 10px;
    text-transform: none;
  }
}
