mixin toggle(options={})
  -
    let elementName='toggle'
    let js = options.js ?? ''
    let labelText = options.labelText ?? ''
    let name = options.name ?? ''
  div(class = elementName)
    label(class = elementName+'__label')
      if labelText
        p(class = elementName+'__label-text')=labelText
      label(class = elementName + '__wrapper')
        input(class = elementName + '__checkbox ' + js, type = "checkbox" name = name value = name)
        span(class = elementName + '__checkmark')
          span(class = elementName + '__ball')
        p(class = elementName + '__name')=name