.room-card {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $colorTextBackground;

  &__slider {
    position: relative;
    min-height: 151px;
    width: auto;
    aspect-ratio: 16/9;
  }

  &__slider:hover &__previous,
  &__slider:hover &__next {
    @include slider-background;
  }

  &__slider:hover &__previous::after,
  &__slider:hover &__next::after {
    @include slider-tip;
  }

  &__photos::before {
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: 2;
  }

  &__photo {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;

    &_shown {
      opacity: 1;
    }
  }

  &__previous,
  &__next {
    @include button-reset-style;
    border-top-left-radius: 4px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    top: 0px;
    bottom: 0px;
    width: 16%;
    background: none;
    position: absolute;
    z-index: 2;

    &:focus {
      @include slider-background;
    }
  }

  &__next {
    right: 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &__next:focus::after,
  &__previous:focus::after {
    @include slider-tip;
  }

  &__dots {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    bottom: 14px;
    right: 15px;
  }

  &__dot {
    @include button-reset-style;
    margin-left: 3px;
    width: 8px;
    height: 8px;
    border: 1px solid $colorTextBackground;
    border-radius: 50%;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $colorTextBackground;
    }

    &_active {
      background-color: $colorTextBackground;
    }
  }

  &__details {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    gap: 5px;

    &-room {
      text-decoration: none;
      flex-grow: 1;
      padding-bottom: 10px;
      margin-top: 2px;
    }

    &-price {
      margin-top: 3px;
    }
  }

  &__detail {
    &-mark {
      @include font-h3;
      font-size: 14px;
      padding-left: 2px;
    }

    &-number {
      @include font-h2;
      padding-left: 4px;
    }

    &-lux {
      @include font-h3;
      color: $colorMain;
      padding-left: 8px;
    }

    &-price {
      @include font-body;
      font-weight: bold;
      color: $colorText;

      &-currency {
        @include font-body;
        font-weight: bold;
        color: $colorTextLight;
      }
    }

    &-label {
      @include font-body;
      font-size: 12px;
      color: $colorText;
      padding-left: 3px;
    }
  }

  &__rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 3px;
    padding-left: 22px;
    padding-right: 20px;
    gap: 5px;
  }

  &__feedback {
    @include font-body;
    margin-top: 5px;
    margin-bottom: 14px;

    &-amount {
      font-weight: bold;
      color: $colorText;
    }

    &-mark {
      padding-left: 4px;
      color: $colorText;
    }
  }
}
