include ../rate-button/rate-button.pug

mixin room-card({roomNumber = '', roomPrice = '', feedbackAmount = '', ratingName = ''} = {})
  -
    const elemName = 'room-card'
  div(class = elemName + ' js-' + elemName)
    div(class = elemName + '__slider' + ' js-' + elemName + '__slider')
      a(class = elemName + '__photos' href = 'https://test/test' aria-label= 'Перейти к деталям номера')
      image(class = elemName + '__photo' + ' js-' + elemName + '__photo ' + elemName + '__photo_shown'+ ' js-' + elemName + '__photo_shown' alt = 'фото номера' src = require('@com/room-card/image/room-1.jpg') data-sequence = '1')
      image(class = elemName + '__photo' + ' js-' + elemName + '__photo' alt = 'фото номера' src = require('@com/room-card/image/room-2.jpg') data-sequence = '2')
      image(class = elemName + '__photo' + ' js-' + elemName + '__photo' alt = 'фото номера' src = require('@com/room-card/image/room-3.jpg') data-sequence = '3')
      image(class = elemName + '__photo' + ' js-' + elemName + '__photo' alt = 'фото номера' src = require('@com/room-card/image/room-4.jpg') data-sequence = '4')
      div(class = elemName + '__dots' + ' js-' + elemName + '__dots')
      div(class = elemName + '__buttons')
        button(class = elemName + '__previous' + ' js-' + elemName + '__previous' type = 'button' aria-label = 'предыдущее фото')
          image(class = elemName + '__previous-image' alt = 'предыдущее фото' src = require('@com/room-card/image/expand-more-white.svg'))
        button(class = elemName + '__next' + ' js-' + elemName + '__next' type = 'button' aria-label = 'следующее фото')
          image(class = elemName + '__next-image' alt = 'следующее фото' src = require('@com/room-card/image/expand-more-white.svg'))
    div(class = elemName + '__details')
      a(class = elemName + '__details-room' href = 'https://test/test' aria-label='Перейти к деталям номера')
        span(class = elemName + '__detail-mark' role = 'region' aria-label = '№') №
        span(class = elemName + '__detail-number' role = 'region' aria-label = 'номер комнаты')= roomNumber
        span(class = elemName + '__detail-is-lux' role = 'region' aria-label = 'люкс')= isLux
      div(class = elemName + '__details-price')
        span(class = elemName + '__detail-price' role = 'region' aria-label = 'цена')= roomPrice
        span(class = elemName + '__detail-price-currency' role = 'region' aria-label = '₽') ₽
        span(class = elemName + '__detail-label' role = 'region' aria-label = 'в сутки') в сутки
    div(class = elemName + '__rating')
      div(class = elemName + '__rate')
        +rate-button({name: ratingName})
      div(class = elemName + '__feedback')
        span(class = elemName + '__feedback-amount' role = 'region' aria-label = 'количество отзывов')= feedbackAmount
        span(class = elemName + '__feedback-mark' role = 'region' aria-label = 'отзывы') Отзывов
