@mixin font-body() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: $colorDarkShade75;
}
@mixin font-h2() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 19px;
	line-height: 23px;
	color: $colorDarkShade100;
}

@mixin font-h3() {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: $colorDarkShade100;
	text-transform: uppercase;
}

$colorDarkShade100: #1f2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorPurple: #bc9cff;
$colorBlue: #8ba4f9;
$colorGreen: #6fcf97;
$colorWhite: #ffffff;
$colorLightBlue: #66d2ea;
$gradientPurple: linear-gradient($colorPurple 0%, $colorBlue 100%);
$gradientGreen: linear-gradient($colorGreen 0%, $colorLightBlue 100%);

.room-card {
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background-color: $colorWhite;
	width: 270px;
	&__slider {
		position: relative;
		width: 270px;
		height: 152px;
	}
	&__photo {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		width: 100%;
		position: absolute;
		left: 0;
		opacity: 0;
		transition: opacity 1s;
		z-index: 1;

		&_showed {
			opacity: 1;
		}
	}
	&__prev,
	&__next {
		cursor: pointer;
		margin: 0;
		padding: 0;
		top: 0px;
		bottom: 0px;
		width: 16%;
		background: none;
		position: absolute;
		z-index: 2;
		&-img {
			position: absolute;
			top: 76px;
			display: none;
		}
		&:hover,
		&:focus {
			background: linear-gradient(
				90deg,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0) 99.99%,
				rgba(255, 255, 255, 0) 100%
			);
		}
		&:hover &-img,
		&:focus &-img {
			display: inline;
		}
	}

	&__prev {
		bottom: 0px;
		&-img {
			left: 20px;
		}
	}

	&__next {
		//	border: 1px solid red;
		right: 0px;
		//	bottom: 20%;

		&:hover,
		&:focus {
			transform: matrix(-1, 0, 0, 1, 0, 0);
		}
		&-img {
			//transform: rotate(180deg);
			right: 20px;
		}
	}
	&__dots {
		display: flex;
		justify-content: space-between;
		position: absolute;
		z-index: 3;
		//border: 1px solid blue;
		//width: 15%;
		bottom: 16px;
		right: 15px;
	}
	&__dot {
		margin-left: 3px;
		width: 6px;
		height: 6px;
		border: 1px solid $colorWhite;
		border-radius: 50%;
		cursor: pointer;
		&:hover,
		&:focus {
			background-color: $colorWhite;
		}
		&_active {
			background-color: $colorWhite;
		}
	}

	&__dtls {
		padding-left: 18px;
		padding-right: 18px;
		margin-top: 17px;
		display: flex;
		justify-content: space-between;
	}

	&__dtls-room {
		flex-grow: 1;
		border-bottom: 1px solid rgba(31, 32, 65, 0.1);
		padding-bottom: 10px;
		margin-top: 2px;
	}

	&__dtl-mark {
		@include font-h3;
		font-size: 14px;
		padding-left: 1px;
	}

	&__dtl-number {
		@include font-h2;
		padding-left: 4px;
	}

	&__dtl-isLux {
		@include font-h3;
		color: $colorPurple;
		padding-left: 4px;
	}

	&__dtls-price {
		border-bottom: 1px solid rgba(31, 32, 65, 0.1);
		//padding-bottom: 10px;
		margin-top: 3px;
	}

	&__dtl-price {
		@include font-body;
		font-weight: bold;
		color: $colorDarkShade50;
	}

	&__dtl-price-curr {
		@include font-body;
		font-weight: bold;
		color: $colorDarkShade50;
	}

	&__dtl-label {
		@include font-body;
		font-size: 12px;
		color: $colorDarkShade50;
		padding-left: 3px;
	}

	&__rating {
		display: flex;
		justify-content: space-between;
		margin-top: 11px;
		padding-left: 22px;
		padding-right: 20px;
	}

	&__rate {
	}
	&__feedback {
		@include font-body;
		margin-bottom: 18px;
		&-amount {
			font-weight: bold;
			color: $colorDarkShade50;
		}
		&-mark {
			padding-left: 4px;
		}
	}
}
