include ../btn/btn.pug
mixin room-card(options={})
	-
		let elemName = 'room-card'
	div(class = elemName)
		div(class = elemName + '__slider')
			div(class = elemName + '__photos')
				img(class = elemName + '__photo js-photo-showed' alt = '' src = 'assets/img/interface/room-1.jpg' data-sec = '1')
				img(class = elemName + '__photo' alt = '' src = 'assets/img/interface/room-2.jpg' data-sec = '2')
				img(class = elemName + '__photo' alt = '' src = 'assets/img/interface/room-3.jpg' data-sec = '3')
				img(class = elemName + '__photo' alt = '' src = 'assets/img/interface/room-4.jpg' data-sec = '4')
			div(class = elemName + '__dots')
				div(class = elemName + '__dot js-dot-active' data-sec = '1')
				div(class = elemName + '__dot' data-sec = '2')
				div(class = elemName + '__dot' data-sec = '3')
				div(class = elemName + '__dot' data-sec = '4')
			div(class = 'buttons')
				button(class = elemName + '__prev' type = 'button')
					img(class = elemName + '__prev-img' alt = '' src = 'assets/img/interface/expand-more-white.svg')
				button(class = elemName + '__next' type = 'button')
					img(class = elemName + '__next-img' alt = '' src = 'assets/img/interface/expand-more-white.svg')