include ../rate-button/rate-button.pug
mixin room-card(options={})
	-
		let elemName = 'room-card'
	div(class = elemName)
		div(class = elemName + '__slider')
			a(class = elemName + '__photos' href = 'https://test/test')
			img(class = elemName + '__photo ' + elemName + '__photo_showed' alt = '' src = require('@com/room-card/img/interface/room-1.jpg').default data-sec = '1')
			img(class = elemName + '__photo' alt = '' src = require('@com/room-card/img/interface/room-2.jpg').default data-sec = '2')
			img(class = elemName + '__photo' alt = '' src = require('@com/room-card/img/interface/room-3.jpg').default data-sec = '3')
			img(class = elemName + '__photo' alt = '' src = require('@com/room-card/img/interface/room-4.jpg').default data-sec = '4')
			div(class = elemName + '__dots')
			div(class = elemName + '__buttons')
				button(class = elemName + '__prev' type = 'button')
					img(class = elemName + '__prev-img' alt = '' src = require('@com/room-card/img/interface/expand-more-white.svg').default)
				button(class = elemName + '__next' type = 'button')
					img(class = elemName + '__next-img' alt = '' src = require('@com/room-card/img/interface/expand-more-white.svg').default)
		div(class = elemName + '__dtls')
			a(class = elemName + '__dtls-room' href = 'https://test/test')
				span(class = elemName + '__dtl-mark') №
				span(class = elemName + '__dtl-number')= options.roomNumber
				span(class = elemName + '__dtl-isLux')= options.isLux
			div(class = elemName + '__dtls-price')
				span(class = elemName + '__dtl-price')= options.roomPrice
				span(class = elemName + '__dtl-price-curr') ₽
				span(class = elemName + '__dtl-label') в сутки
		div(class = elemName + '__rating')
			div(class = elemName + '__rate')
				+rate-button({name: options.ratingName})
			div(class = elemName + '__feedback')
				span(class = elemName + '__feedback-amount')= options.feedbackAmnt
				span(class = elemName + '__feedback-mark') Отзывов
			