extends ../ui-kit-layout/ui-kit-layout.pug

include ../../components/logo/logo.pug
include ../../components/search-room/search-room.pug
include ../../components/registration/registration.pug
include ../../components/booking/booking.pug
include ../../components/login/login.pug
include ../../components/room-card/room-card.pug
include ../../components/date-dropdown/date-dropdown.pug

block title
  title Cards
block content 
  main(class="cards")
    div(class='cards__search-column cards__search-column-left')
      div(class='cards__search-room')
        +search-room()
      div(class='cards__registration')
        +registration()
    div(class='cards__search-column cards__search-column-center')
      div(class='cards__booking')
        +booking({
          roomNumber: 888,
          isLux: 'люкс',
          roomPrice: '9 990',
          daysAmount: '4',
          totalPrice: '39 960',
          sale: '2 179',
          saleTotal: '0',
          extraTotal: '300',
          totalAmount: '38 081'})
      div(class='cards__login')
        +login()
    div(class='cards__search-column cards__search-column-right')
      div(class='cards__date-dropdown')
        +date-dropdown({
          width:'wide',
          type:'dateDropDown'})
      div(class='cards__room-card')
        +room-card({
          imageList: [
            require('@pag/cards/image/room-1.jpg'),
            require('@pag/cards/image/room-2.jpg'),
            require('@pag/cards/image/room-3.jpg'),
            require('@pag/cards/image/room-4.jpg'),
            ],
          roomNumber: '888',
          isLux: 'люкс',
          roomPrice: '9 990',
          feedbackAmount: '145',
          ratingName: 'rating1'})
      div(class='cards__room-card')
        +room-card({
          imageList: [
            require('@pag/cards/image/room-1.jpg'),
            require('@pag/cards/image/room-2.jpg'),
            require('@pag/cards/image/room-3.jpg'),
            require('@pag/cards/image/room-4.jpg'),
            ],
          roomNumber: '840',
          roomPrice: '9 900',
          feedbackAmount: '65',
          ratingName: 'rating2'})
