extends ../ui-kit-layout/ui-kit-layout.pug

include ../../components/logo/logo.pug
include ../../components/search-room/search-room.pug
include ../../components/registration/registration.pug
include ../../components/booking/booking.pug
include ../../components/login/login.pug
include ../../components/room-card/room-card.pug
include ../../components/date-dropdown/date-dropdown.pug

block title
  title Cards
block logo 
  +logo({color: 'grey'})
block content 
  main(class="cards")
    div(class='cards__search-column cards__search-column-left')
      div(class='cards__search-room')
        +search-room()
      div(class='cards__registration')
        +registration()
    div(class='cards__search-column cards__search-column-center')
      div(class='cards__booking')
        +booking({
          roomNumber: 888989,
          lux: 'люкс люкс люкс',
          roomPrice: '9 900 000 000',
          daysAmount: '49999999999',
          totalPrice: '39 960 999 999',
          sale: '2 999 999',
          saleTotal: '999 999 999',
          extraTotal: '9 999 999',
          totalAmount: '38 081 999 999',
        })
      div(class='cards__login')
        +login()
    div(class='cards__search-column cards__search-column-right')
      div(class='cards__date-dropdown')
        +date-dropdown({
          width:'wide',
          type:'dateDropDown',
        })
      div(class='cards__room-card')
        +room-card({
          imageList: [
            require('@pag/cards/image/room-1.jpg'),
            require('@pag/cards/image/room-2.jpg'),
            require('@pag/cards/image/room-3.jpg'),
            require('@pag/cards/image/room-4.jpg'),
            ],
          roomNumber: '88888',
          lux: 'люкс люксс',
          roomPrice: '9 990 000',
          feedbackAmount: '145000000',
          ratingName: 'room888Rating',
        })
      div(class='cards__room-card')
        +room-card({
          imageList: [
            require('@pag/cards/image/room-1.jpg'),
            require('@pag/cards/image/room-2.jpg'),
            require('@pag/cards/image/room-3.jpg'),
            require('@pag/cards/image/room-4.jpg'),
            ],
          roomNumber: '840989',
          roomPrice: '9 900 000',
          feedbackAmount: '65908908908',
          ratingName: 'room840Rating',
        })
