.cards {
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  max-width: 1160px;
  gap: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f4f4f6;
  padding-bottom: 20px;

  &__column {
    @include media-breakpoint-down($md) {
      margin: 0 auto;
    }
  }
  &__search-room {
    margin-top: 151px;

    @include media-breakpoint-down($md) {
      margin: 20px;
      padding: 0;
    }
  }

  &__registration {
    margin-top: 38px;

    @include media-breakpoint-down($md) {
      margin: 20px;
      padding: 0;
    }
  }

  &__booking {
    margin-top: 151px;
    padding-left: 2px;

    @include media-breakpoint-down($md) {
      margin: 20px;
      padding: 0;
    }
  }

  &__login {
    margin-top: 42px;
    padding-left: 2px;

    @include media-breakpoint-down($md) {
      margin: 20px;
      padding: 0;
    }
  }

  &__date-dropdown {
    margin-top: 146px;

    @include media-breakpoint-down($md) {
      margin: 0;
      padding: 0;
    }
  }

  &__room-card {
    max-width: 270px;

    &:nth-child(2) {
      margin-top: 364px;

      @include media-breakpoint-down($md) {
        margin: 0;
        padding: 0;
      }
    }
    &:last-child {
      margin-top: 37px;

      @include media-breakpoint-down($md) {
        margin: 0;
        padding: 0;
      }
    }
  }
  @include media-breakpoint-down($xl) {
    justify-content: space-around;
  }
}
