.cards {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f4f4f6;
  padding-bottom: 20px;
  &__search-column {
    @include media-breakpoint-down($md) {
      margin: 0 auto;
    }
  }
  &__search-room {
    margin-top: 151px;
    margin-left: 117px;
    @include media-breakpoint-down($md) {
      margin: 20px;
      padding: 0;
    }
  }
  &__registration {
    margin-top: 40px;
    margin-left: 117px;
    @include media-breakpoint-down($md) {
      margin: 20px;
      padding: 0;
    }
  }
  &__booking {
    margin-top: 151px;
    padding-left: 2px;
    @include media-breakpoint-down($md) {
      margin: 20px;
      padding: 0;
    }
  }
  &__login {
    margin-top: 40px;
    padding-left: 2px;
    @include media-breakpoint-down($md) {
      margin: 20px;
      padding: 0;
    }
  }
  &__date-dropdown {
    margin-top: 146px;
    @include media-breakpoint-down($md) {
      margin: 0;
      padding: 0;
    }
  }

  &__room-card {
    margin-right: 213px;
    &:nth-child(2) {
      margin-top: 364px;
      @include media-breakpoint-down($md) {
        margin: 0;
        padding: 0;
      }
    }
    &:last-child {
      margin-top: 37px;
      @include media-breakpoint-down($md) {
        margin: 0;
        padding: 0;
      }
    }
  }
}
