$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;
$xxl: 1920px;
$wrapperWidth: 1170px;

$colorTitle: #1f2041;
$colorText: rgba(31, 32, 65, 0.5);
$colorTextNormal: rgba(31, 32, 65, 0.75);
$colorTextLight: #8f8fa0;
$colorBorder: rgba(31, 32, 65, 0.25);
$colorFooterDelimiter: rgba(31, 32, 65, 0.1);
$colorBackground: rgba(31, 32, 65, 0.05);
$colorBorderError: #ff0000;
$colorMain: #bc9cff;
$colorMainHover: rgba(188, 156, 255, 0.5);
$colorGradientBorder: #8ba4f9;
$colorGradientBorderHover: rgba(139, 164, 249, 0.5);
$colorSecondary: #6fcf97;
$colorTextBackground: #ffffff;
$colorGradientSecondary: #66d2ea;
$colorBackgroundDataDropdown: #e6e8fe;
$gradientMain: linear-gradient($colorMain 0%, $colorGradientBorder 100%);
$gradientSecondary: linear-gradient($colorSecondary 0%, $colorGradientSecondary 100%);

$headerHeight: 70px;
$lg-padding-bottom: 30px;

$formWidth: 380px;
$infoSignWidth: 250px;

$tipBorder: 2px solid $colorText;
$tipSize: 6px;
$tipTransition: all 0.3s ease 0s;

$arrowSize: 10px;

$fontMain: "Montserrat", Arial, Helvetica, sans-serif;

@mixin visually-hidden() {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin cell-background($width, $height, $left, $right) {
  left: $left;
  right: $right;
  position: absolute;
  content: "";
  width: $width;
  height: $height;
  background: $colorBackgroundDataDropdown;
  z-index: -2;
}

@mixin cell-background-rounded($width, $height) {
  position: absolute;
  content: "";
  width: $width;
  height: $height;
  background: $gradientMain;
  border-radius: 50%;
  z-index: -1;
}

@mixin indents() {
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin: 0;
}

@mixin card-border() {
  background-color: $colorTextBackground;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@mixin button-reset-style() {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

@mixin fieldset-reset-style() {
  padding: 0;
  margin: 0;
  border: none;
}

@mixin ul-reset-style() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin tip-style() {
  cursor: pointer;
  position: absolute;
  content: "";
  height: $tipSize;
  width: $tipSize;
  border-left: $tipBorder;
  border-bottom: $tipBorder;
  transform: rotate(-45deg);
  transition: $tipTransition;
}

@mixin arrow-tip-style($color) {
  cursor: pointer;
  position: absolute;
  content: "";
  height: $arrowSize;
  width: $arrowSize;
  border-left: 2px solid $color;
  border-bottom: 2px solid $color;
  transform: rotate(-135deg);
}

@mixin arrow-basis-style($color) {
  cursor: pointer;
  position: absolute;
  content: "";
  height: 2px;
  width: 14px;
  background-color: $color;
}

@mixin star-style() {
  position: absolute;
  content: "★";
  color: $colorMain;
  font-size: 27px;
  top: 1px;
}

@mixin slider-tip() {
  @include tip-style;
  border-left: 3px solid $colorTextBackground;
  border-bottom: 3px solid $colorTextBackground;
  transform: rotate(45deg);
  right: 18px;
  bottom: 73px;
}

@mixin slider-background() {
  border-top-left-radius: 4px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

@mixin page-background($imagePath, $imageShift) {
  background: url($imagePath) no-repeat center;
  background-position: 0 $imageShift;
}

@mixin font-h1() {
  font-family: $fontMain;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $colorTitle;
}

@mixin font-h2() {
  font-family: $fontMain;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: $colorTitle;
}

@mixin font-h3() {
  font-family: $fontMain;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $colorTitle;
  text-transform: uppercase;
}

@mixin font-body() {
  font-family: $fontMain;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $colorTextNormal;
}

@mixin media-breakpoint-up($width) {
  @media (min-width: ($width + 1)) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: ($min-width + 1)) and (max-width: $max-width) {
    @content;
  }
}
