$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;
$xxl: 1920px;
$wrapper-width: 1170px;

$color-title: #1f2041;
$color-text: rgba(31, 32, 65, 0.5);
$color-text-normal: rgba(31, 32, 65, 0.75);
$color-text-light: #1f20417f;
$color-border: rgba(31, 32, 65, 0.25);
$color-footer-delimiter: rgba(31, 32, 65, 0.1);
$color-background: rgba(31, 32, 65, 0.05);
$color-border-error: #ff0000;
$color-main: #bc9cff;
$color-main-hover: rgba(188, 156, 255, 0.5);
$color-gradient-border: #8ba4f9;
$color-gradient-border-hover: rgba(139, 164, 249, 0.5);
$color-secondary: #6fcf97;
$color-text-background: #ffffff;
$color-UI-Kit-background: #f4f4f6;
$color-gradient-secondary: #66d2ea;
$color-background-data-dropdown: #e6e8fe;
$gradient-main: linear-gradient($color-main 0%, $color-gradient-border 100%);
$gradient-secondary: linear-gradient($color-secondary 0%, $color-gradient-secondary 100%);

$header-height: 70px;
$lg-padding-bottom: 30px;

$form-width: 380px;
$info-sign-width: 250px;

$tip-border: 2px solid $color-text;
$tip-size: 6px;
$tip-transition: all 0.3s ease 0s;

$arrow-size: 10px;

$font-main: Montserrat, Arial, Helvetica, sans-serif;

@mixin visually-hidden() {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin cell-background($width, $height, $left, $right) {
  left: $left;
  right: $right;
  position: absolute;
  content: '';
  width: $width;
  height: $height;
  background: $color-background-data-dropdown;
  z-index: -2;
}

@mixin cell-background-rounded($width, $height) {
  position: absolute;
  content: '';
  width: $width;
  height: $height;
  background: $gradient-main;
  border-radius: 50%;
  z-index: -1;
}

@mixin indents() {
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin: 0;
}

@mixin card-border() {
  background-color: $color-text-background;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@mixin button-reset-style() {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

@mixin fieldset-reset-style() {
  padding: 0;
  margin: 0;
  border: none;
}

@mixin ul-reset-style() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin tip-style() {
  cursor: pointer;
  position: absolute;
  content: '';
  height: $tip-size;
  width: $tip-size;
  border-left: $tip-border;
  border-bottom: $tip-border;
  transform: rotate(-45deg);
  transition: $tip-transition;
}

@mixin arrow-tip-style($color) {
  cursor: pointer;
  position: absolute;
  content: '';
  height: $arrow-size;
  width: $arrow-size;
  border-left: 2px solid $color;
  border-bottom: 2px solid $color;
  transform: rotate(-135deg);
}

@mixin arrow-basis-style($color) {
  cursor: pointer;
  position: absolute;
  content: '';
  height: 2px;
  width: 14px;
  background-color: $color;
}

@mixin star-style() {
  position: absolute;
  content: '★';
  color: $color-main;
  font-size: 27px;
  top: 1px;
}

@mixin slider-tip() {
  @include tip-style;
  border-left: 3px solid $color-text-background;
  border-bottom: 3px solid $color-text-background;
  transform: rotate(45deg);
  right: 18px;
}

@mixin slider-background() {
  border-top-left-radius: 4px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

@mixin page-background($imagePath, $imageShift) {
  background: url($imagePath) no-repeat center;
  background-position: 0 $imageShift;

  @include media-breakpoint-up($xl) {
    background-size: cover;
  }
}

@mixin font-h1() {
  font-family: $font-main;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $color-title;
}

@mixin font-h2() {
  font-family: $font-main;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: $color-title;
}

@mixin font-h3() {
  font-family: $font-main;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $color-title;
  text-transform: uppercase;
}

@mixin font-body() {
  font-family: $font-main;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

@mixin media-breakpoint-up($width) {
  @media (min-width: ($width + 1)) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: ($min-width + 1)) and (max-width: $max-width) {
    @content;
  }
}
