/***** Variables *****/
$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;

/***** Mixins *****/
@mixin media-breakpoint-up($width) {
	@media (min-width: $width + 1) {
		@content;
	}
}

@mixin media-breakpoint-down($width) {
	@media (max-width: $width) {
		@content;
	}
}

@mixin media-breakpoint-between($min-width, $max-width) {
	@media (min-width: $min-width + 1) and (max-width: $max-width) {
		@content;
	}
}

/***** Tag styles *****/
html {
	height: 100%; /* растягиваем страницу на весь экран */
	width: 100%; /* растягиваем страницу на весь экран */
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	min-height: 100%; /* растягиваем тело сайта на весь экран */
	width: 100%; /* растягиваем тело сайта на весь экран */
	background: rgb(255, 255, 255);
	min-width: 319px;
}
fieldset {
	padding: 0 !important;
	margin: 0 !important;
	border: none;
}

button {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

img {
	height: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

h1,
h2,
h3 {
	margin: 0 !important;
}

p {
	margin: 0;
}
