mixin go-up-button(options={})
  -
    let elemName='go-up-button'
  button(class = elemName + ' js-' + elemName + ' ' + elemName + '_hidden')
    img(class = elemName + '__img' src = require('@com/go-up-button/img/arrow-forward.svg').default) 