mixin go-up-button()
  -
    const elementName = 'go-up-button'

  button(class = `${elementName} js-${elementName} ${elementName}_hidden`)
    image(class = `${elementName}__image` src = require('@com/go-up-button/image/arrow-forward.svg')) 