.go-up-button {
  @include button-reset-style;
  border: 2px solid $colorMain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  &::before {
    @include arrow-basis-style($colorMain);
    transform: rotate(90deg);
    top: 17px;
    left: 11px;
  }
  &::after {
    @include arrow-tip-style($colorMain);
    transform: rotate(135deg);
    top: 11px;
    left: 12px;
  }

  &_hidden {
    display: none;
  }
}
