mixin go-up-button()
  -
    const elemName='go-up-button'
  button(class = elemName + ' js-' + elemName + ' ' + elemName + '_hidden')
    image(class = elemName + '__image' src = require('@com/go-up-button/image/arrow-forward.svg')) 