@import "@styles/glob.scss";
.registration {
  background-color: $colorWhite;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 380px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 39px;

  &__header {
    max-width: 300px;
    @include font-h1;
  }
  &__name {
    margin-top: 16px;
  }
  &__surname {
    margin-top: 7px;
  }
  &__radiobuttons {
    margin-top: 10px;
  }
  &__birth-date {
    margin-top: 22px;
  }
  &__credentials {
    margin-top: 21px;
  }
  &__credentials-legend {
    @include font-h3;
  }
  &__email {
    margin-top: 1px;
  }

  &__password {
    margin-top: 6px;
  }
  &__special-offer {
    margin-top: 9px;
  }
  &__search {
    margin-top: 25px;
  }

  &__go-to-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    &-legend {
      @include font-body;
    }
  }
  @include media-breakpoint-down($xxs) {
    padding-right: 10px;
    padding-left: 25px;
  }
}

.js-err {
  border: 1px solid red;
}
